.jcarousel-wrapper {
    position: relative;
    width: 100%;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px ;
    float: left;
   
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    width: 25px;
    height: 25px;
    
}
.jcarousel-control-prev{
    background: url(../img/arrow-left.png);
}
.jcarousel-control-next{
    background: url(../img/arrow-right.png);
}
.jcarousel-control-prev {
    right: 45px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}



/**/

.jcarousel-works-wrapper {
    position: relative;
    width: 100%;
}

/** Carousel **/

.jcarousel-works {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-works ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-works li {
    width: 200px ;
    float: left;
   
}

.jcarousel-works img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-works-control-prev,
.jcarousel-works-control-next {
    position: absolute;
    width: 25px;
    height: 25px;
    
}
.jcarousel-works-control-prev{
    background: url(../img/arrow-left.png);
}
.jcarousel-works-control-next{
    background: url(../img/arrow-right.png);
}
.jcarousel-works-control-prev {
    right: 45px;
}

.jcarousel-works-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-works-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-works-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-works-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}



/**/
.jcarousel-testimonials-wrapper {
    position: relative;
    width: 100%;
}

/** Carousel **/

.jcarousel-testimonials {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel-testimonials ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-testimonials li {
    width: 200px ;
    float: left;
   
}

.jcarousel-testimonials img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-testimonials-control-prev,
.jcarousel-testimonials-control-next {
    position: absolute;
    width: 25px;
    height: 25px;
    
}
.jcarousel-testimonials-control-prev{
    background: url(../img/arrow-left.png);
}
.jcarousel-testimonials-control-next{
    background: url(../img/arrow-right.png);
}
.jcarousel-testimonials-control-prev {
    right: 45px;
}

.jcarousel-testimonials-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-testimonials-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-testimonials-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-testimonials-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
