@media only screen and (min-width: 500px) and (max-width: 1200px) {
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .col-md-2 {
        text-align: center;
        margin-bottom: 30px;
    }
    .info-container {
        display: none;
    }
    .footer-menu-container {
        width: 100%;
    }
    .order-call-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .order-call-form input,
    .order-call-form button {
        margin-bottom: 10px;
    }
    .order-call-note {
        display: none;
    }
    .order-call-form button {
        width: fit-content;
        margin: 0 auto;
    }
    .mobile-search,
    .mobile-phone-container {
        display: flex;
        /* background: #d5dcf5; */
        justify-content: center;
        font-family: "Qanelas";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 46px;
        height: auto;
    }
    .mobile-phone-container .contact-phone {
        color: #091745;
    }

    .nav-item a {
        text-align: left !important;
    }
    .nav-item {
        width: 40% !important;
        margin: 0 auto;
        background-position: right 20px;
    }
    .section-title {
        display: block;
        padding: 10px 0px;
    }
    .service-title {
        font-size: 13px;
    }
    .service-description {
        font-size: 12px;
        line-height: 14px;
    }
    .consulting-container {
        padding: 0px 20px;
    }
    .ico-place-2,
    .ico-ga,
    .ico-bathroom,
    .ico-water {
        display: none;
    }

    .rieltor-email {
        font-size: 14px;
    }

    .rieltor-phone-img {
        height: 8px !important;
    }

    .img-rieltor-info-object {
        margin-left: 0 !important;
    }

    .img-rieltor-info-main {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none;
    }

    .h-100 .collapse {
        display: unset !important;
    }

    .bread-crumbs {
        margin-top: 20px;
    }

    .img-rieltor-info-object {
        margin-left: 0 !important;
    }
}


@media only screen and (min-width: 1100px) and (max-width: 1300px) {
    .navbar .container {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1200px) {
    .one-item .employee-item .rieltor-info-object {
        height: 350px !important;
    }
    .rieltor-info-object .rieltor-info-img {
        object-position: top;
        height: 350px !important;
    }
    .employee-item .rieltor-info {
        height: 400px !important;
    }
    .rieltor-info-img {
        height: 400px !important;
    }
    .container {
        max-width: unset;
    }
}
@media only screen and (max-width: 992px) {
    .one-item .employee-item .rieltor-info-object {
        height: 350px !important;
    }
    body .one-item .employee-item .rieltor-info-object-product {
        height: unset !important;
    }
    .rieltor-info-object .rieltor-info-img {
        object-position: top;
        height: 350px !important;
    }
    .employee-item .rieltor-info {
        height: 400px !important;
    }
    .rieltor-info-img {
        height: 400px !important;
    }
    .rieltor-other-text {
        text-align: center;
    }
    .block-contacte-agent-adaptive {
        position: relative;
        background: rgba(2, 1, 137, 0.57);
        background-image: url(../images/Group_2.png) !important;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .img-rieltor-info-adaptive {
        display: none;
    }
    .block-contacte-agent {
        height: 100px;
    }
    .rieltor-name {
        font-size: 20px !important;
    }
    .rieltor-phone {
        font-size: 18px !important;
    }
    .rieltor-email {
        font-size: 18px !important;
    }
    .rieltor-icon-img {
        height: 14px !important;
    }
    .rieltor-social-media {
        width: 8%;
    }
    .rieltor-contacts {
        width: 92%;
    }
    .rieltor-phone-img {
        height: 12px !important;
    }
    body {
        overflow-x: hidden;
    }
    .header-menu.h-100 {
        background: url(../images/svg/city-on-bg.svg), #ebebff !important;
        background-repeat: repeat-x, repeat !important;
        background-position: 0px bottom, 0px 0px !important;
    }
    .hide-header-number + .container .ftco-navbar-light {
        box-shadow: none;
    }
    .has-submenu {
        background-image: url(../images/svg/arrow-down-mobile.svg) !important;
    }
    .arrow-up {
        background-image: url(../images/svg/arrow-up-mobile.svg) !important;
    }
    .arrow-up .sub-menu {
        display: block;
        position: relative;
        background: none;
        padding: 0;
    }
    .navbar-collapse.collapse.show > ul {
        display: block;
    
        max-height: 60vh;
    }
    .one-item.single-page .col-lg-6:first-child {
        order: 2;
    }
    .one-item.single-page .col-lg-6:nth-child(2) {
        order: 1;
    }
    .slider-carousel-for-desktop {
        display: none;
    }
    .slider-carousel-for-mobile{
        display: block;
    }
    .slider-container {
        background-position: left center;
    }
    .logo-mobile,
    .mobile-navigation {
        display: block;
    }
    .languages-container img {
        margin-right: 5px;
        background: #091745;
        border-radius: 100%;
    }
    .section-description img {
        height: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .employee-item .rieltor-info {
        height: 600px !important;
    }
    .rieltor-info-img {
        object-position: top;
        height: 600px !important;
    }
    .block-contacte-agent {
        height: 100px;
    }
    .rieltor-name {
        font-size: 20px !important;
    }
    .rieltor-phone {
        font-size: 18px !important;
    }
    .rieltor-email {
        font-size: 18px !important;
    }
    .rieltor-icon-img {
        height: 18px !important;
    }
    .rieltor-social-media {
        width: 8%;
    }
    .rieltor-contacts {
        width: 92%;
    }
    .rieltor-phone .rieltor-phone-img, .rieltor-email .rieltor-phone-img {
        height: 14px !important;
    }
    .borderer {
        border: none;
        border-top: 1.5px solid #d6d6f1;
        border-bottom: 1.5px solid #d6d6f1;
        padding: 20px 0px !important;
        margin: 20px auto;
        width: fit-content;
    }
    .collapse {
        display: none;
    }

    .h-100 .collapse {
        display: unset !important;
    }

    .bread-crumbs {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .one-item .employee-item .rieltor-info-object {
        height: auto !important;
    }
    .rieltor-info-object .rieltor-info-img {
        object-position: top;
        height: auto !important;
    }
    .employee-item .rieltor-info {
        height: auto !important;
    }
    .rieltor-info-img {
        object-position: top;
        height: auto !important;
    }
    .employee-item-mobile .rieltor-contacts-mobile {
        background-color: transparent !important;
    }
    .employee-item-mobile {
        margin-bottom: 0;
    }
    .img-rieltor-info-mobile {
        display: none;
    }
    .block-contacte-agent-mobile {
        position: relative;
        background: rgba(2, 1, 137, 0.57);
        background-image: url(../images/Group_2.png) !important;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .block-contacte-agent-adaptive {
        position: absolute;
        background: rgba(2, 1, 137, 0.57);
    }
    .img-rieltor-info-adaptive {
        display: block;
    }
    .rieltor-social-media {
        width: 10%;
    }
    .rieltor-contacts {
        width: 90%;
    }
    .peculiarity-lines-container {
        margin-bottom: 20px;
    }
    .rieltor-contacts {
        justify-content: flex-start;
        align-items: center;
    }
    .rieltor-email {
        font-size: 14px;
    }
    .rieltor-phone-img {
        height: 8px !important;
    }
    .info-container {
        display: none;
    }
    .mobile-search,
    .mobile-phone-container {
        display: flex;
        justify-content: center;
        font-family: "Qanelas";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 46px;
    }
    .navbar-nav .nav-item a {
        text-align: left !important;
        color: #626982 !important;
    }
    .nav-item {
        width: 40% !important;
        margin: 0 auto;
        background-position: right 20px;
    }
    .mobile-phone-container .contact-phone {
        color: #091745;
        font-size: 14px;
    }
    .section-title {
        display: block;
    }
    .service-one-item {
        min-height: 200px;
    }
    .service-one-item img {
        float: right;
    }
    .service-title {
        margin-top: 0px;
    }

    .order-call-form,
    #call-order-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .order-call-form input,
    .order-call-form button {
        margin-bottom: 10px;
    }
    .order-call-note {
        display: none;
    }
    .order-call-form button {
        width: fit-content;
        margin: 0 auto;
    }

    .newslatter-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .newslatter-form input,
    .newslatter-form button {
        margin-bottom: 10px;
    }
    .newslatter-note {
        display: none;
    }
    .container-for-mobile {
        display: block !important;
        margin-bottom: 20px;
        text-align: left;
    }
    .newslatter-form button {
        width: fit-content;
        margin: 0 auto;
    }
    .consulting-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .consulting-note {
        display: none;
    }
    .consulting-container input {
        width: 100%;
        margin-bottom: 10px;
    }
    .consulting-container button {
        display: block;
        margin: 0 auto;
    }

    .slider-description {
        padding: 100px 20px 20px 20px;
    }
    .private-policy {
        display: none;
    }
    .copyright {
        font-size: 12px;
        padding: 0px 0px 10px 0px;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }
    footer .col-md-2 {
        text-align: center;
        margin-bottom: 30px;
    }
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
        background: url(../images/order-call-bg.png), #112c87;
        background-repeat: repeat-x, repeat;
        background-position: left 94%, 0px;
    }
    /*footer .navbar-collapse {
        display: block !important;
    }*/
    .testimonial-text {
        font-size: 14px;
        line-height: 14px;
    }
    .newslatter-form input {
        width: 100%;
    }
    .form-modal {
        margin: 20px;
    }
    .form-container {
        padding: 20px;
        width: 100% !important;
    }
    .modal-order-call-form {
        padding: 40px;
    }
    .modal-order-call-container .order-call-title {
        margin-top: 150px;
    }
    .order-call-title {
        font-size: 20px;
    }
    .newslatter-title {
        font-size: 22px;
    }
    .about-us-description {
        font-size: 15px;
    }
    .consulting-title {
        font-size: 22px;
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
    .pagination-container {
        display: flex;
        padding: 0;
    }
    .sort-by {
        display: none;
    }
    .filter-box-title-text {
        display: block;
    }
    .filter-box-title {
        overflow: scroll;
    }
    .mobile-filters {
        display: block;
        /*position: absolute;*/
        /*top: 0px;*/
        width: 100%;
        /*left: 0px;*/
        background: #ebebff;
    }
    .col-md-3 .filter-container {
        display: none;
    }
    .offers-content .col-md-9 {
        padding-top: 60px;
    }
    .bread-crumbs {
        margin-top: 85px;
        padding-top: 0px;
    }
    .category-items {
        margin-top: 90px;
    }
    .show-filter-menu {
        display: block !important;
        float: right;
        z-index: 99999;
        margin-top: 140px;
        right: 0px;
        width: 80%;
        height: 80vh;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
    .remove-position-relative {
        position: inherit;
    }
    .close-for-mobile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }
    .close-for-mobile img {
        margin-left: 20px;
    }
    .filter-container-overlay-only-for-mobile.show-overlay {
        display: block !important;
        background: rgba(000, 000, 000, 0.4);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 99999999;
    }

    .reset-all-filters span {
        display: none;
    }
    .filter-btns-container {
        display: block;
    }
    .show-check-filter-buttons {
        display: flex;
    }
    .hide-reset-menu {
        display: none;
    }
    .show-check-filter-buttons .hide-reset-menu {
        width: 100%;
        display: flex;
    }
    .reset-all-filters {
        width: 80%;
        margin: 0;
        max-width: 80%;
        right: 0px;
        bottom: 0;
        position: fixed;
        border: none;
        box-shadow: 0px 6px 14px rgb(30 45 182 / 15%);
    }
    .states {
        border-bottom: none !important;
    }
    .offers-work-conditions .row {
        padding: 20px !important;
    }
    .carier-accordion-container details summary {
        line-height: 20px;
        min-height: 40px;
        display: flex;
        align-items: center;
    }
    .carier-accordion-container details {
        padding: 10px 10px 10px 60px;
        min-height: 62px;
    }
    .carier-accordion-container details summary span {
        max-width: 80%;
    }
    .cariers-teams {
        margin: 20px 0px 0px 0px;
    }
    .carier.single-page .row {
        width: 100%;
        margin: 0px;
    }
    .carier.single-page .col-md-6 {
        padding: 0px;
    }
    .carier-description {
        text-align: left;
    }
    .welcome-carier {
        margin: 0px 0px 30px 0px;
        width: 100%;
    }
    .welcome-carier .about-us-title {
        text-align: left;
    }

    .img-preview {
        background-size: contain;
        min-height: 160px;
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 0px;
    }
    .post-title {
        font-size: 16px;
        line-height: 19px;
        max-width: 100%;
    }
    .post-date {
        font-size: 12px;
        line-height: 12px;
        max-width: 64px;
        padding: 10px;
        margin-top: 0px;
    }
    .one-article-text {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .our-seen img {
        width: 100%;
    }
    .our-seen {
        padding-top: 0px;
    }
    .about-us .about-us-title {
        margin-top: 20px;
    }
    .sub-description-block {
        margin-top: 20px;
    }
    .contacts-tabs .tab-item {
        font-size: 16px;
        padding: 10px;
        margin: 0px 10px;
    }
    .contacts.single-page .row {
        margin: 0px 0px 30px 0px;
    }
    .contacts .container {
        padding: 0;
    }
    #callTabContent,
    #mailTabContent {
        padding: 0px;
    }
    .contacts .order-call-note {
        display: block !important;
    }
    .contacts button {
        float: right;
        margin-bottom: 30px;
    }
    .page-title.about-us-title,
    .contacts .bread-crumbs {
        padding: 0px 10px;
    }
    .contacts.single-page .row {
        margin-bottom: 0px;
    }
    .media-container {
        display: none;
    }
    #callTabContent .about-us-title {
        margin-top: 20px;
    }
    .map-social-info {
        order: 1;
    }
    .col-md-5 {
        order: 2;
    }
    .adaptive.media-container {
        display: block !important;
        flex-direction: column;
    }
    .map-social-info {
        padding: 0px;
    }
    .contacts-tab-content.adaptive-widget {
        margin: 0px;
    }
    .contacts-tab-content .map-social-info .social-media {
        width: 100%;
    }
    .contacts-tab-content .social-media ul li {
        list-style-type: none;
    }
    .contacts-tab-content .social-media ul li a {
        margin: 0px 5px;
    }
    .adaptive-widget {
        display: block !important;
    }
    .form-title {
        margin-top: 20px;
    }
    .hide-widget {
        display: none !important;
    }
    .proposal-details-container .information-line {
        display: flex;
        float: left;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    .proposal-details-container .information-line >div{
        margin-bottom: 0.875rem;
    }
    .rieltor-details {
       display: none;
    }
    .rieltor-details-main {
        display: block !important;
    }
    .borderer {
        border: none;
        border-top: 1.5px solid #d6d6f1;
        border-bottom: 1.5px solid #d6d6f1;
        padding: 20px 0px !important;
        margin: 20px auto;
        width: fit-content;
    }
    .placement-items .col-md-4 {
        padding: 0px;
        width: 50%;
    }
    .jcarousel-works-pagination,
    .jcarousel-testimonials-pagination {
        display: block;
    }
    .rieltor-info-for-mobile {
        display: block;
    }
    .rieltor-info-for-mobile .rieltor-details {
        display: block;
    }
    .slider {
        margin-top: 40px !important;
    }
    .best-rent,
    .best-sale {
        padding-bottom: 30px;
        position: relative;
    }
    .best-rent .additional-block,
    .best-sale .additional-block {
        position: absolute;
        bottom: 10px !important;
        right: 30px !important;
    }
    .jcarousel-works-pagination {
        bottom: -18px !important;
    }
    .jcarousel-works-pagination a {
        height: 14px !important;
        width: 14px !important;
    }
    .jcarousel-works-pagination a.active {
        background: #112c87 !important;
    }
    .information-line > div {
        padding-left: 25px;
        line-height: 16px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .categories-object {
       font-size: 14px;
    }
    .categories-object sup {
        top: -.2rem !important;
    }
    .ico-area sup {
        top: -.1rem !important;
    }
    .about-us button {
        margin-bottom: 20px;
    }
    .more-vacancies {
        flex-direction: column;
    }
    .vacancies-title {
        margin-bottom: 10px;
    }
    .container-with-carousel .about-us-title {
        margin-top: 0px;
    }
    .carier-accordion-container {
        padding: 0px !important;
    }
    /* .one-article-text {
        padding: 0px !important;
    } */
    .proposal-name, .price-label, .price-container .price {
        font-size: 20px;
    }
    .proposal-details-title, .rieltor-details-title {
        font-size: 16px;
    }
    .section-title .text {
        font-size: 22px;
    }
    .img-rieltor-info-main {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .rieltor-info .img-rieltor-info {
        width: 100% !important;
        height: auto !important;
        margin-right: 30px;
        margin-left: 0 !important;
    }
    .img-rieltor-info:hover .rieltor-info-img{
        background-position: start;
        transform: scale(1.1); 
        width: 100% !important;
        height: auto !important;
    }
    .rieltor-info-img {
        width: 100% !important;
        height: auto !important;
        transition: transform 0.25s;
        object-fit: cover;
    }
    .img-rieltor-info-object {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .rieltor-info {  
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .rieltor-name {
        font-size: 13px;
    }
    .rieltor-phone {
        font-size: 13px;
    }
    .rieltor-details-title {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 13px;
    }
    .rieltor-order-date {
        font-size: 13px;
    }
    .arrow-up .sub-menu a {
        color: #fff;
    }
    .col-md-7 {
        order: 2;
    }
    .one-item.single-page .col-md-5 {
        order: 1;
    }
    .additional-block a {
        font-size: 13px;
    }
    .newslatter-form button {
        padding: 8px 30px !important;
        width: auto;
    }
    .sub-description-block .col-md-4 {
        margin-bottom: 40px;
    }
    .sub-description-block .col-md-4 img {
        display: block;
        margin: 0 auto;
    }
    /* .navbar-collapse.collapse > ul {
        display: none;
    } */
    .custom-modal-content {
        align-items: flex-start;
    }
    .developers__btns a span,
    .developers__btns a span.smaller {
        font-size: 11px;
        margin: 0;
    }
    .consulting-subtitle a {
        display: block;
    }
    .mobile-phone-container {
        display: flex;
    }
    .logo-simple {
        display: none;
        height: 30px !important;
    }
    
    .languages-container {
        background-position: 80% 5px !important;
    }
    .search__form .form-element input {
        font-size: 20px !important;
    }
    .search__form button {
        font-size: 1em !important;
    }
    .search__close {
        height: 2em !important;
        right: -130px !important;
    }
    .slider-container {
        min-height: 200px !important;
        background-size: contain;
    }
    .rieltor-social-media {
       display: none;
    }
    .rieltor-social-media-main {
        display: flex !important;
    }
    .rieltor-social-media.show-social {
        display: flex !important;
    }
    .form-modal {
        margin-top: 130px !important;
    }
}

@media only screen and (max-width: 1280px) {
    .news-title {
        height: 104px;
    }
    footer {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 900px) {
    .news-title {
        height: 148px;
    }
}

@media only screen and (max-width: 991px) {
    .information-line {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .proposal-details-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    .information-line > div {
        margin-top: 8px;
    }

    .filter-container {
        margin-bottom: 20px;
    }

    .display-none {
        display: none !important;
    }

    .navbar-nav .nav-link {
        color: #626982 !important;
    }

    .navbar-brands-menu {
        display: flex !important;
        justify-content: flex-start !important;
        width: 55% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-contacts {
        display: none !important;
    }
}

.social-block-style {
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    footer .messages {
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 375px) {
    .block-contacte-agent {
        height: 100px;
    }
    .rieltor-name {
        font-size: 16px !important;
    }
    .rieltor-phone {
        font-size: 14px !important;
    }
    .rieltor-email {
        font-size: 14px !important;
    }
    .rieltor-social .rieltor-icon-img {
        height: 16px !important;
    }
    .rieltor-social-media {
        width: 10%;
    }
    .rieltor-contacts {
        width: 90%;
    }
    .rieltor-phone .rieltor-phone-img, .rieltor-email .rieltor-phone-img {
        height: 12px !important;
    }
}

@media only screen and (max-width: 374px) {
    .rieltor-order-date {
        font-size: 11px;
    }
}

.want-too {
    overflow: hidden;
    position: relative;
} 
.want-too:after {
    content: "";
    margin-left: 60px;
    width: 10px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -40px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
}
@-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
  
    30% {
      left: 110%;
      margin-left: 80px;
    }
  
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }
  
  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
  
    30% {
      left: 110%;
      margin-left: 80px;
    }
  
    100% {
      left: 110%;
      margin-left: 80px;
    }
}

.pouring {
    text-transform: uppercase;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.9);
    animation: bounce-top 4s infinite both;
}
  
  
@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
}
  
.carousel-inner::after {
    display: none !important;
    clear: none !important;
    content: none !important; 
}

.modal-iframe {
    display: none;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-content-iframe {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.close-iframe {
    position: absolute;
    float: right;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin-right: 0.5rem;
    z-index: 9;
}


#openModalButton-iframe {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2rem;
    text-align: center;
    padding-right: 5%;
    width: 100%;
    height: 45px;
    background: #112c87;
    border-radius: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 10px 30px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openModalButton-iframe:hover {
    color: #626982 !important;
}

.iframe {
    overflow: hidden;
    position: fixed;
    min-height: 100%;
}

.iframeInstall {
    display: flex;
    justify-content: center;
}
  