@font-face {
    font-family: Qanelas;
    src: url(../fonts/QanelasRegular.otf);
}

input[type="text"]:focus, input[type="email"]:focus,
textarea:focus {
    border: 1px solid #112c87 !important;
}
a:hover {
    color: #626982 !important;
    transition: 0.2s;
}
input[type="text"],
textarea {
    border: 1px solid transparent;
    outline: none;
    color: #091745;
}

.error-border input {
    border: 1px solid #d64b4b !important;
}

.input-error-border input {
    border: 1px solid #d64b4b !important;
}

.input-error-border input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
}

.input-error-border input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.input-error-border input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

button {
    border: none;
}

.input-form-label .error-text {
    position: absolute;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #d64b4b;
    top: 45px;
}

.input-form-label {
    position: relative;
}

* {
    font-family: "Qanelas" !important;
}

html {
    font-family: "Qanelas" !important;
}

.header-menu {
    background-color: #112c87;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999999;
}

.header-menu .container {
    padding: 0px;
}

.cookie-container {
    background: #f2faff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.cookie-text div {
    text-align: center;
}

.cookie-container .cookie-icon {
    width: 22px;
}

.cookie-text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.close-icon {
    width: 15px;
}

.cookie-text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    /* Heading/Deep cove */
    color: #091745;
}

.info-container {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0px auto;
}
.languages-container img {
    margin-right: 5px;
}

.languages-container {
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    background-position: 80% 8px !important;
    cursor: pointer;
    position: relative;
    padding-right: 30px !important;
}

.show-submenu-languages .languages-submenu {
    display: block;
}

.info-container > div {
    border-right: 1px solid #fff;
    padding: 4px 10px;
    margin-left: 15px;
}

.info-container > div:last-child {
    border: none;
}

.search-container img {
    width: 22px;
    height: 22px;
}

.slider .btn-regular {
    width: 140px;
    height: 45px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    /* Кнопка/Bavarian blue */
    color: #112c87;
}

.contact-time-container {
    font-family: "Qanelas";
    /* background: url(../images/call.png);
    background-repeat: no-repeat;
    background-position: left center; */
    padding-left: 25px !important;
    position: relative;
    display: flex;
    flex-direction: column;
}
.contact-time-container img {
    position: absolute;
    left: -5px;
    top: 20px;
    cursor: pointer;
}
.contact-phone {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: -3px;
}

.online-icon {
    width: 11px;
    height: 11px;
    background: #5bb132;
    border: 1px solid #fafafc;
    box-sizing: border-box;
    border-radius: 100%;
}

.contact-time {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: flex-end;
}

.contact-time > span {
    margin-left: 5px;
    font-size: 12px;
    color: #c8c8fa;
}

.search-container,
.languages-container {
    height: 20px;
}

.search-container {
    display: flex;
    padding: 0 !important;
    padding-right: 10px !important;
}

.mobile-search,
.mobile-phone-container {
    display: none;
}

.has-submenu {
    background-position: right 20px;
    background-repeat: no-repeat;
    margin-right: 12px;
}
.order-call button:hover {
    background: #d5dcf5;
    color: #112c87 !important;
}
.has-submenu {
    background-image: url(../images/svg/arrow-down.svg);
}

.arrow-up {
    background-image: url(../images/svg/arrow-up.svg) !important;
}

.sub-menu {
    display: none;
}

.arrow-up .sub-menu a {
    font-family: "Qanelas";
    font-size: 16px;
    color: #091745 !important;
}

.arrow-up .sub-menu {
    display: block;
    position: absolute;
    z-index: 9999;
    background: #fff;
    padding: 10px;
}

.sub-menu li {
    list-style-type: none;
}

.our-proposals {
    background-color: #fff;
}

.section-title .text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #091745;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 10px;
    width: 100%;
}

.our-proposals .section-title {
    padding: 20px 0px !important;
}

.zero-commision {
    border-radius: 1px;
    color: #fff !important;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    padding: 5px 10px 5px 35px;
    background: url(../images/svg/info-icon-with-tooltip.svg), #112c87;
    background-position: 11px center, center center;
    background-repeat: no-repeat;
}
.zero-commision:hover {
    color: #fff !important;
}
.tooltip-custom {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    background-color: black;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    left: 0px;
    top: -61px;
    line-height: 16px;
    font-size: 14px;
    position: absolute;
    color: #626982;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 14px 6px 11px;
    background: #fafafc;
    border: 1px solid #d6d6f1;
    border-radius: 2px;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
}

.our-proposals .section-container:hover {
    box-shadow: none !important;
    background: none !important;
}

.proposal-container {
    border: 1px solid #d6d6f1;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: #fff;
}

.btn-regular:hover {
    background: #d5dcf5;
    color: #112c87 !important;
}

.btn-blue:hover {
    background: #081f6e !important;
    color: #fff !important;
}

.proposal-title {
    color: #091745;
    font-family: "Qanelas";
    /* font-style: normal; */
    font-weight: 600;
    font-size: 18px;
    line-height: 60px;
    /* display: flex; */
    /* align-items: center; */
    background: #ebebff;
    text-align: center;
    width: 100%;
}

.proposal-image {
    min-height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-regular {
    color: #112c87;
    background: none;
    padding: 7px;
    border: 1px solid #d6d6f1;
    width: 50%;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #112c87;
}

.additional-block {
    font-family: "Qanelas";
    color: #626982;
}
.additional-block a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #626982;
}
.additional-block a:hover {
    color: #112c87 !important;
}

.btn-blue {
    background: #112c87;
    color: #fff;
}

.m-right {
    margin-right: 5px;
}

.proposal-buttons {
    display: flex;
    padding: 5px;
}

.container {
    /* overflow: hidden; */
}

.section-container {
    margin-bottom: 20px;
}

/* .jcarousel-wrapper,
.jcarousel-works{
    overflow: visible !important;
} */

.section-container:hover {
    background: #f7f7fc;
    box-sizing: border-box;
    box-shadow: 0px 6px 14px rgb(30 45 182 / 15%);
    border-radius: 1px;
    transition: 0.25s;
}

.team-index {
    background: #e9ecf8;
    padding-bottom: 20px;
}

.best-rent {
    background: #e9ecf8;
}
.best-rent .container,
.best-sale .container {
    padding: 0;
}
.best-rent .container .section-title .text,
.best-rent .container .section-title .additional-block,
.best-sale .container .section-title .text,
.best-sale .container .section-title .additional-block {
    padding: 0px 10px;
}

.information {
    background: #ebebff;
}

.price-container {
    font-family: "Qanelas";
    padding: 3px 10px 10px 10px;
    display: flex;
    align-items: flex-start;
}

.price-container .price {
    color: #0000ff;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    padding-top: 8px;
}

.discount {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    margin-left: 10px;
    /* Text/Spaceman */
    color: #626982;
}

.preview-image {
    height: 255px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
}

.information {
    padding: 10px;
    min-height: 135px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    min-height: 150px;
}

.ico-place {
    font-weight: 700 !important;
    background-image: url(../images/info-icons/ico-place.svg);
    background-position: left 2px !important;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.ico-apartament {
    background-image: url(../images/info-icons/ico-apartament.png);
}

.ico-area {
    background-image: url(../images/info-icons/ico-area.svg);
}

.ico-room {
    background-image: url(../images/info-icons/ico-room.svg);
}

.ico-bathroom {
    background-image: url(../images/info-icons/ico-bathroom.svg);
}

.ico-home {
    background-image: url(../images/info-icons/ico-home.png);
}

.ico-place-2 {
    background-image: url(../images/info-icons/ico-place-2.png);
}

.ico-ga {
    background-image: url(../images/info-icons/ico-ga.png);
}

.ico-water {
    background-image: url(../images/info-icons/ico-water.png);
}

.ico-electricity {
    background-image: url(../images/info-icons/ico-electricity.png);
}

.ico-floor {
    background-image: url(../images/info-icons/ico-floor.png);
}

.ico-new-home {
    background-image: url(../images/info-icons/ico-new-home.png);
}

.ico-new-remont {
    background-image: url(../images/info-icons/ico-new-remont.png);
}

.ico-heating {
    background-image: url(../images/info-icons/ico-heating.png);
}

.information-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

input {
    padding-left: 15px;
}

.information-line > div {
    display: flex;
    width: 45%;
    white-space: nowrap;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #091745;
    font-weight: 400;
    margin-top: 8px;
}

.information-line > div:last-child {
    margin-right: 0px;
}

.information-line > div:first-child {
    width: 96% !important;
    margin-bottom: 6px;
    margin-left: 0 !important;
    white-space: normal !important;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.information-line > div:nth-child(2n+1) {
    margin-left: 20px;
}

.hot-price {
    background: url(../images/hot-price.png), linear-gradient(8.81deg, #c93838 1.95%, #dc1313 108.74%), #112c87;
    background-position: 5px 6px, center, 0px;
    background-repeat: no-repeat;
    color: #fff;
    font-family: "Qanelas";
    right: 0px;
    top: 8px;
    position: absolute;
    padding: 0px 5px 0px 20px;
}

.carousel-container {
    position: relative;
}

.navigation-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    top: 50%;
    margin: 0 auto;
}

.navigation-arrows > a {
    height: 52px;
    width: 52px;
}

a {
    transition: none;
}

.jcarousel-works-control-next,
.jcarousel-testimonials-control-next,
.jcarousel-control-next,
.jcarousel-control-next-custom {
    background: url(../images/svg/arrow-next-sprite.svg) !important;
    top: 0px;
    right: 0px;
    background-position: center -20px !important;
    background-repeat: no-repeat !important;
}

.jcarousel-works-control-prev,
.jcarousel-testimonials-control-prev,
.jcarousel-control-prev,
.jcarousel-control-prev-custom {
    background: url(../images/svg/arrow-prev-sprite.svg) !important;
    top: 0px;
    left: 0px;
    background-position: center -20px !important;
    background-repeat: no-repeat !important;
}

.jcarousel-works-control-prev:hover,
.jcarousel-testimonials-control-prev:hover,
.jcarousel-control-prev:hover,
.jcarousel-control-prev-custom:hover {
    background-position: center -78px !important;
}

.jcarousel-works-control-next:hover,
.jcarousel-testimonials-control-next:hover,
.jcarousel-control-next:hover,
.jcarousel-control-next-custom:hover {
    background-position: center -78px !important;
}

.jcarousel-works li {
    padding: 0px 8px !important;
}

.order-call {
    background: url("../images/order-call-bg.png"), #112c87;
    background-repeat: repeat-x, repeat;
    background-position: left bottom, 0px;
}

.order-call input,
.order-call button {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 22px;
    outline: none;
    /* border: none; */
    color: #112c87;
    margin-right: 10px;
}

.order-call button {
    background: #fff;
}

.newslatter-container {
    margin: 30px auto;
    max-width: 500px;
}

.order-call-container {
    margin: 30px auto;
    padding: 0px 20px;
    width: 100%;
}

.order-call-title {
    font-family: "Qanelas";
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #fafafc;
    margin-bottom: 10px;
}

.our-partners {
    padding-bottom: 70px;
}

.footer-contacts ul li {
    margin-bottom: 5px;
}

.footer-contacts ul li.contanct-ico {
    line-height: 25px;
    margin-bottom: 10px;
}

.order-call-note,
.consulting-note {
    background: url("../images/svg/secure-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 12px;
    line-height: 17px;
    color: #d5dcf5;
    padding-left: 20px;
    margin-top: 10px;
}

.service-one-item {
    border: 1px solid #d6d6f1;
    padding: 20px;
    min-height: 300px;
    background: url(../images/services-container-bg.png);
    background-repeat: no-repeat !important;
    background-position: right bottom !important;
    margin-bottom: 15px;
    display: block;
    /* margin-right: 15px;
    width: 24%;
    flex: inherit; */
}

.service-one-item:hover {
    background: url(../images/services-hover-bg.png), #112c87;
    transition: 1s;
}

.service-one-item:hover .service-title,
.service-one-item:hover .service-description {
    color: #fff;
}

.service-one-item:hover span {
    background: url(../images/arrow-white.png), #97a3cb;
    border-radius: 1px;
    background-position: 92% center, 0px;
    background-repeat: no-repeat;
    color: #fff;
    margin-left: 0px;
    transition: 0.25s;
    cursor: pointer;
}

.service-one-item:nth-child(4n) {
    margin-right: 0px;
}

.service-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #112c87;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px 5px;
}

.service-description {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #626982 !important;
}
.read-more {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: url(../images/read-more-arrow.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: fit-content;
    padding-right: 16px;
    position: absolute;
    bottom: 30px;
    padding: 11px 27px 11px 16px;
    margin-left: -16px;
}

.read-more:hover {
    cursor: pointer;
}

.fill-color {
    background: #112c87 !important;
}
.about-us.single-page iframe,
.about-us iframe {
    margin: 0px;
    height: 340px;
    min-height: unset;
}

.call-service {
    color: #fff;
    background: url(../images/call-mobile-white.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
    position: absolute;
    bottom: 30px;
}
.call-service:hover {
    color: #fff;
}

.fill-color .service-title {
    color: #fff;
    max-width: 70%;
}
.call-service {
    padding-left: 30px;
}
.newslatter-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #091745;
    margin-bottom: 20px;
}

.newslatter-subtitle {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #091745;
}

.newslatter-note {
    background: url("../images/svg/secure-icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 12px;
    line-height: 17px;
    color: #626982;
    padding-left: 20px;
    margin-top: 10px;
}

.newslatter-form input {
    width: 70%;
    height: 45px;
}

.container-for-mobile {
    display: none;
}

.newslatter-form input,
.newslatter-form button {
    outline: none;
    border: 1px solid #d6d6f1;
}

.newslatter-form button {
    background: #112c87;
    color: #fff;
    width: 140px;
    margin-left: -1px;
    border: 1px solid #112c87;
}

.newslatter-form {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-us {
    /* background: url(../images/about-us-bg.png), url(../images/about-us-bg2.png), #e9ecf8;
    background-repeat: repeat-x, no-repeat, repeat;
    background-position: left bottom, 10% 60px, 0px; */
    background: url(../images/about-us-bg.png), #e9ecf8;
    background-repeat: repeat-x, repeat;
    background-position: left bottom, 0px;
    padding: 20px 0px 50px;
    overflow: hidden;
}
.bg-gray {
    background: #ebebff !important;
}
.contacts.single-page .call {
    position: relative;
    bottom: auto;
}
.about-us-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #091745;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-us-description {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.about-us button {
    background: #112c87;
    color: #fff;
    margin-left: -1px;
    border: 1px solid #112c87;
    margin-top: 30px;
    display: inherit;
    padding: 10px 15px;
}

.more-vacancies .read-more {
    position: relative;
    bottom: unset;
    background: url(../images/read-more-arrow.png), #e9ecf8;
    background-repeat: no-repeat, repeat !important;
    background-position: 90% center, 0px !important;
    padding: 3px 26px 3px 12px;
    font-weight: 500;
}

.more-vacancies .read-more:hover {
    background: url(../images/arrow-white.png), #112c87;
    color: #fff;
}

.partners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-vacancies {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    border: 1px solid #d6d6f1;
}

iframe {
    width: 100%;
    margin-top: 50px;
}

.testimonials {
    padding: 30px 0px;
}

.testimonials .section-title {
    display: flex;
    justify-content: center;
}

.photo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.author-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.testimonial-text {
    padding: 0px 40px;
    color: #091745;
}

.author-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.author-time {
    margin-bottom: 20px;
}

.our-partners,
.testimonials {
    background-color: #fff;
}

.our-partners .navigation-arrows {
    top: 25%;
}

.news-preview {
    min-height: 205px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.news {
    padding-bottom: 50px;
    background: #e9ecf8;
}

.news-item {
    position: relative;
    display: block;
}
.news-item:hover {
    box-shadow: 0px 6px 14px rgb(30 45 182 / 15%);
    transition: 0.25s;
}
.news .col-md-4 {
    margin-bottom: 20px;
}

.news-date {
    background: rgba(9, 23, 69, 0.9);
    backdrop-filter: blur(14px);
    border-radius: 1px;
    position: absolute;
    color: #fff;
    padding: 10px;
    margin: 15px;
    z-index: 9;
}

.news-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 140% */
    display: flex;
    align-items: center;
    /* Heading/Deep cove */
    color: #091745;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 18px 16px;
}

.consulting {
    padding: 30px 0px;
}

.consulting-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #091745;
}

.consulting-container {
    margin: 0 auto;
}

.consulting-subtitle {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 15px 0px;
}

.consulting-subtitle a {
    font-weight: 700;
    color: #000000;
}

.consulting input {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    outline: none;
    padding: 10px;
    width: 50%;
    margin-right: 16px;
}

.consulting-form {
    display: flex;
}

.consulting-form button {
    background: #112c87;
    border-radius: 1px;
    color: #fff;
    border: 1px solid #112c87;
    padding: 8px 30px !important;
}

.consulting-note {
    color: #626982;
}

footer {
    background: #112c87;
}

.slider-container {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-description {
    padding: 100px;
}

.slider-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #f2fffa;
    margin-top: 20px;
}

.slider {
    background-color: #fff;
    padding: 30px 0px 0px;
    margin-top: 50px;
}

.slider .btn-regular {
    color: #112c87;
    background: #fff;
    margin-top: 30px;
}

.jcarousel-testimonials-control-next,
.jcarousel-works-control-next,
.jcarousel-control-next {
    right: 0px !important;
}

footer {
    padding-top: 40px;
}

.footer-menu-container li {
    list-style-type: none;
    margin-bottom: 20px;
}

footer ul {
    padding: 0;
}

.social-media-title {
    color: #fff;
    line-height: 18px;
    margin-bottom: 10px;
}

.social-media li a:hover {
    opacity: 0.3;
}

footer li a {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

footer .social-media ul li {
    list-style-type: none;
    margin-right: 10px;
}

footer .social-media ul li a {
    width: 30px;
    height: 30px;
    display: block;
}

footer .social-media ul {
    display: flex;
}

.viber {
    background-image: url(../images/social/viber.svg);
}

.telegram {
    background-image: url(../images/social/telegram.svg);
}

.messenger {
    background-image: url(../images/social/messenger.svg);
}

.whats {
    background-image: url(../images/social/whatsapp.svg);
}

.fb {
    background-image: url(../images/social/facebook.svg);
}

.inst {
    background-image: url(../images/social/inst.svg);
}

.linkedin {
    background-image: url(../images/social/linkedin.svg);
}

.tiktok {
    background-image: url(../images/social/tiktok.svg);
}

.youtube {
    background-image: url(../images/social/youtube.svg);
}

.copyright {
    margin-top: 40px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fafafc;
    display: flex;
    padding-bottom: 30px;
    opacity: 0.4;
}

.private-policy {
    margin-left: 50px;
}

.private-policy a {
    color: #fafafc;
}

.powered-by {
    text-align: center;
    background: #091745;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fafafc;
    padding: 5px;
}

.powered-by a {
    color: #fff;
}

footer .navbar-collapse {
    margin-bottom: 20px;
}

footer .nav-item span,
footer .nav-item a {
    color: #fff;
    text-align: center !important;
}

#topBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    background: url(../images/svg/go-up-icon-default.svg) !important;
    background-position: 0px 0px !important;
    background-repeat: no-repeat !important;
}

#topBtn:hover {
    background: url(../images/svg/go-up-icon-hover.svg) !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

#setMessages {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    cursor: pointer;
    width: 50px;
}

.languages-submenu {
    display: none;
    position: absolute;
    background: #fff;
    color: #091745;
    top: 20px;
    width: 50px;
    right: 0px;
}

.show-submenu-languages .languages-submenu {
    display: block;
}
.lang-container:hover {
    background: #ebebff;
}
.lang-line {
    padding: 5px;
}

.lang-container {
    display: block;
    position: relative;
    padding-left: 15px;
    /* margin-bottom: 12px; */
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.languages-submenu .lang-container:last-child {
    margin-bottom: 0px !important;
}
/* Hide the browser's default checkbox */

.lang-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 5px;
    left: 7px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 1px solid #081f6e;
}

/* When the checkbox is checked, add a blue background */

.lang-container input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.lang-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.lang-container .checkmark:after {
    left: 2px;
    top: 1px;
    width: 10px;
    height: 10px;
    border: solid #112c86;
    background: #112c86;
    border-radius: 100%;
}

/*.contact-adress {
    background-image: url(../images/contact-adress.svg);
}

.contact-mail {
    background-image: url(../images/contact-mail.svg);
}

.contact-call {
    background-image: url(../images/contact-call.svg);
}*/

.clock {
    background-image: url(../images/svg/time.svg);
    background-position: 0px 3px !important;
}

.contanct-ico {
    background-position: left 17%;
    background-repeat: no-repeat;
    /*padding-left: 25px;*/
}

.about-us-line {
    position: absolute;
    bottom: -115px;
    left: -255px;
}
.about-us-description a:hover button{
    background: #081f6e !important;
    color: #fff !important;
}
.container-line-bg{
    position: relative;
}
.about-us button {
    position: relative;
}

.form-modal {
    position: relative;
    width: 608px;
    height: 524px;
    background: #ebebff;
    border: 2px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-modal-content {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(000, 000, 000, 0.7);
    z-index: 9999999;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    padding: 30px;
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
}

.modal-logo {
    margin: 30px 66px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom-modal-content .order-call-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    /* identical to box height, or 140% */
    text-align: center;
    /* Heading/Deep cove */
    color: #091745;
}

.custom-modal-content input {
    width: 100%;
    margin-bottom: 10px;
}

.custom-modal-content input {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    outline: none;
    padding: 10px;
    margin-right: 16px;
}

.custom-modal-content .modal-order-call-note {
    background: url(../images/svg/secure-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 12px;
    line-height: 17px;
    padding-left: 20px;
    margin-top: 10px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 35px;
    color: #626982;
}

.custom-modal-content button {
    background: #112c87;
    border-radius: 1px;
    color: #fff;
    border: 1px solid #112c87;
    width: 175px;
    height: 45px;
    margin: 30px auto;
    display: block;
}

.has-bg {
    background: url(../images/services-container-bg.png), #ebebff;
    background-repeat: repeat-x, repeat;
    background-position: left bottom;
}

.form-modal,
.custom-modal-content {
    display: none;
}

.show-modal .show-modal-content,
.show-modal {
    display: flex !important;
}

.show-modal.form-success .form-modal {
    display: flex !important;
}

.bread-crumbs {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 100px;
}
.bread-crumbs a {
    color: #808080 !important;
}
.bread-crumbs .active {
    color: #091745;
    font-weight: 600;
}

.offers-content .section-title {
    justify-content: unset;
    padding: 15px 0px 10px;
    display: flex;
    margin-bottom: 15px;
}

.offers-content .section-title img {
    margin-left: 15px;
}

.filter-box-title-text {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #091745;
}

.filter-box-title-text span {
    margin-right: 10px;
}

.filter-box-title-text span,
.sort-by span {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #091745;
}

.filter-container {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 20px;
}

.filter-find-result {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.filter-container-title-text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;
}

.filter-container-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #d6d6f1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.reset-filter {
    width: fit-content;
    background: #e9ecf8;
    border-radius: 1px;
    padding: 2px 13px;
    font-size: 12px;
    cursor: pointer;
}

.filter-box-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkmark-checkbox {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ebebff;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
}

.filter-label input:checked ~ .checkmark-checkbox {
    background-image: url(../images/checked.png);
    background-color: #081f6e;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-label input:checked ~ .checkmark-minus {
    background-image: url(../images/minus.png) !important;
    background-color: #081f6e;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    margin-bottom: 15px;
}

/* Hide the browser's default checkbox */

.filter-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter-item {
    border-bottom: 1px solid #d6d6f1;
}

.reset-all-filters {
    background: #fafafc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #112c87;
    max-width: 175px;
    margin: 20px auto 0px;
    cursor: pointer;
}
.reset-all-filters span {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 12px 14px;
    justify-content: center;
    align-items: center;
}

.reset-all-filters:hover,
.reset-filter:hover {
    background-color: #d5dcf5;
}

.offers-content {
    margin-bottom: 40px;
    position: relative;
}

details {
    background-image: url(../images/menu-close.png);
    background-position: right 5px;
    background-repeat: no-repeat;
}

summary {
    position: relative;
    display: flex;
}

details.open-details {
    background-image: url(../images/menu-open.png);
}

summary::marker {
    position: absolute;
    right: 0px;
}

.sub-list {
    padding-left: 20px;
}

.room-size {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #091745;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.filter-lines-container .selected-item {
    background: #112c87;
    border: 1px solid #d5dcf5;
    box-sizing: border-box;
    border-radius: 1px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #fafafc;
}

.filter-lines-container {
    display: block;
    justify-content: space-between;
}

.filter-line a {
    color: #112c87;
}

.rooms,
.parkings,
.states,
.range-inputs {
    padding-bottom: 20px;
}

.rooms .filter-lines-container,
.parkings .filter-lines-container,
.states .filter-lines-container {
    display: flex;
    flex-wrap: wrap;
}

.rooms .filter-lines-container div,
.parkings .filter-lines-container div,
.states .filter-lines-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    padding: 10px;
    height: 45px;
    font-size: 14px;
}

.parking,
.state {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #091745;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    width: 49%;
    padding: 10px;
    margin-bottom: 5px;
}

.filter-lines-container div {
    cursor: pointer;
}

.input-devider {
    width: 35px;
    background: url(../images/input-devider.png);
    background-repeat: no-repeat;
    background-position: center;
}

.inputs-container input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-right: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    color: #091745;
}

.custom-input {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    display: flex;
}

.currency-label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
}

.inputs-container {
    display: flex;
    height: 45px;
}

.category-items .proposal-container {
    margin-bottom: 20px;
}

.selected-filter-item {
    background: #ebebff;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #091745;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    margin: 0px 10px 0px 0px;
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
}

.selected-filter-item img {
    cursor: pointer;
    margin: 0px 5px;
}

.selected-filter {
    display: flex;
}

.sort-by {
    display: flex;
    align-items: baseline;
}

.sort-by summary {
    position: relative;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #112c87;
    padding: 5px 35px 5px 10px;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
}

.sort-by details {
    background-position: 90% 14px;
    margin-left: 10px;
    position: relative;
}

.details-content {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    box-shadow: 0px 6px 26px rgb(30 45 182 / 15%);
    border-radius: 1px;
    padding: 5px;
}

.details-content .lang-container {
    padding: 0px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #112c87;
}

.details-content .checkmark {
    right: 0px;
    left: unset;
}

.pagination-container {
    display: flex;
}
.pagination-container a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.pagination {
    justify-content: flex-end;
}

.pag-item a {
    color: #091745 !important;
}

.pag-item {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #091745 !important;
    background: #ebebff;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 3px;
}

.pag-item:hover a {
    color: #626982 !important;
}

.pag-item:hover {
    color: #626982 !important;
    background: #f8f9fa;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
}

.pag-item.active a {
    color: #626982 !important;
}

.pag-item.active {
    color: #626982 !important;
    background: #d5dcf5;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
}

.pagination-container li {
    list-style-type: none;
}

.filter-btn-mobile {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #091745;
}

.mobile-filters {
    display: none;
}

.mobile-filters .container {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

details.open-details {
    position: relative;
}

.sort-by-mobile {
    width: 50%;
    border: 1px solid #d6d6f1;
    background: #f7f7fc;
    padding: 5px 10px;
}

.sort-block > span {
    font-size: 12px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ebebff;
}

.filter-btn-mobile {
    color: #091745;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    background: #f7f7fc;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #d6d6f1;
}

.sort-by-mobile summary {
    position: relative;
    font-family: "Qanelas";
    font-style: normal;
    line-height: 22px;
    color: #112c87;
}

.sort-by-mobile details {
    background-position: right 8px;
    padding-top: 3px;
}

.close-for-mobile,
.filter-btns-container {
    display: none;
}

.filter-btns-container {
    position: relative;
}

.about-us.single-page {
    background: url(../images/about-us-bg2.png), url(../images/about-us-bg.png), #e9ecf8;
    background-repeat: no-repeat, repeat-x, repeat;
    background-position: -5% 90%, left bottom, 0px;
    padding: 20px 0px 50px;
    overflow: hidden;
}

.clear {
    clear: both;
}

.sub-description-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;
    margin: 10px 0px;
}
.navbar-brand {
    margin: 0px;
}
.tooltip-custom .zero-commision:hover {
    color: #fff !important;
}
.bread-crumbs a {
    color: #626982;
}
.sub-description-text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.sub-description-block {
    width: 100%;
    margin: 20px 40px;
}

.our-seen .about-us-title {
    margin-top: 20px;
}

.contacts .about-us-title {
    margin-top: 20px;
}

.our-seen {
    padding: 50px 0px;
}

.our-seen .read-more {
    margin: 0px;
}

.our-seen .more-vacancies {
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    background-color: #f7f7fc;
    margin-bottom: 20px;
}

/* .our-seen .more-vacancies:hover {
    background-color: #ebebff;
} */

.vacancies-text {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    margin: 10px 0px 20px 0px;
}

.services.single-page {
    background-color: #f9f9fb;
}
.news.single-page {
    background-color: #f9f9fb;
}
.news.single-page .pagination {
    justify-content: center;
}

.carier .about-us-title {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.welcome-carier {
    width: 80%;
    margin: auto;
}

.carier-description {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #091745;
}

.carier-description a {
    font-weight: 700;
    display: contents;
    color: #091745;
}

.left-block-description {
    padding-top: 30px;
}

.carier-line-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;
    margin-bottom: 10px;
}

.carier-line-description {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.carier-team-item {
    margin-bottom: 25px;
}

.cariers-teams {
    margin: 40px 0px;
}

.cariers-teams img {
    width: 100%;
}

.offers-work-conditions {
    background: url(../images/about-us-bg.png), #e9ecf8;
    background-repeat: repeat-x, repeat;
    background-position: left bottom, 0px;
    padding: 20px 0px 50px;
    overflow: hidden;
}

.offer-line {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    background: url(../images/check-arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-bottom: 20px;
}

.offers-work-conditions .row {
    padding: 0px 150px;
}

.carier-accordion-container .carier-description {
    display: block;
    margin-bottom: 20px;
}

.carier-accordion-container details {
    position: relative;
    min-height: 67px;
    background: #e9ecf8;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 20px 20px 20px 70px;
    margin-bottom: 15px;
    background: url(../images/summary-title-devider.png), url(../images/accountant.png),
        url(../images/accordion-close.png), #fafafa;
    background-position: left 65px, 2% 17px, 98% 10px, 0px !important;
    background-repeat: repeat-x, no-repeat, no-repeat, repeat !important;
}

.carier-accordion-container details.open-details {
    background: url(../images/summary-title-devider.png), url(../images/accountant.png),
        url(../images/accordion-open.png), #e9ecf8;
}

.carier-accordion-container details summary {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;

    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    padding: 20px 70px;
}

.carier-accordion-container {
    margin-bottom: 40px;
    padding: 0px 170px;
}

.carier-details {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    padding-top: 70px;
}

.carier-details-title {
    font-weight: 700;
}

.carier-details-text {
    margin-bottom: 20px;
}

.img-preview {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.post-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #fafafc;
    max-width: 600px;
}

.post-date {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    max-width: fit-content;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(14px);
    border-radius: 1px;
    padding: 10px 20px;
    margin-top: 20px;
}

.section-description {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #091745;
}

.one-article-text {
    margin-bottom: 40px;
    padding: 0px 100px;
}

.contacts-tabs .tab-item {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;
    max-width: 610px;
    background: #ebebff;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.contacts-tabs .tab-item span {
    padding: 5px 20px 5px 40px;
    background-repeat: no-repeat;
    background-position: left center;
    right: unset;
}

.contacts-tabs {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.contacts-tabs .call {
    background: url(../images/svg/phone-2.svg);
}

.contacts-tabs .mail {
    background: url(../images/svg/letter.svg);
}

.active-tab {
    display: none;
}

.tab-item.active {
    opacity: 1;
}

.tab-item.active .active-tab {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -14px;
    text-align: center;
}

.contacts.single-page .row {
    margin-bottom: 30px;
}

.contacts-tab-content .tab-content-item {
    display: none;
}

.contacts-tab-content .tab-content-item.show-content {
    display: block !important;
}

#callTabContent,
#mailTabContent {
    background: #ebebff;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 50px;
}

.contacts-tab-content {
    width: 100%;
    margin-top: 20px;
}

.form-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    margin-bottom: 20px;
}

.tab-content-item .about-us-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #091745;
    margin-top: 10px;
}

.form-info-block {
    background: url(../images/city-on-bg.png), #d8d8ff;
    background-repeat: repeat-x, repeat;
    background-position: left bottom, 0px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    outline: none;
}

.contact-form input {
    line-height: 41px;
    margin-bottom: 35px;
}

.contact-form textarea {
    padding: 15px;
    resize: none;
    max-height: 146px;
}

.form-info-block {
    padding: 50px;
}

.contact-form button {
    background: #112c87;
    border-radius: 1px;
    color: #fff;
    border: 1px solid #112c87;
    width: 140px;
    line-height: 41px;
    margin-top: 25px;
}

.contact-form .order-call-note {
    font-size: 12px;
    line-height: 17px;
    color: #626982;
}

.form-info-block .about-us-title {
    margin-bottom: 0px;
}

.form-info-block .form-title {
    margin-top: 10px;
}

#callTabContent .about-us-title {
    margin-top: 0px;
}

iframe {
    margin: 0px;
    min-height: 500px;
}

.contacts-tab-content details {
    background: url("../images/map-point.png"), url(../images/contacts-closed.png), #fff;
    background-position: 6% 32px, 95% 42px, 0px;
    background-repeat: no-repeat, no-repeat, repeat;
    margin-bottom: 20px;
}

.contacts-tab-content details.open-details {
    background: url("../images/map-point.png"), url(../images/contacts-open.png), #112c87;
    background-position: 6% 32px, 95% 42px, 0px;
    background-repeat: no-repeat, no-repeat, repeat;
    padding-bottom: 10px;
    box-shadow: 0px 6px 26px rgba(30, 45, 182, 0.15);
    border-radius: 1px;
}

.contacts-tab-content .summary-title {
    color: #091745;
}

.contacts-tab-content .summary-subtitle {
    color: #626982;
}

.contacts-tab-content .open-details .summary-title,
.contacts-tab-content .open-details .summary-subtitle {
    color: #fff;
}

.summary-title {
    font-weight: 700;
}
.section-description img {
    display: block;
    margin: 0 auto;
}
.contacts-tab-content summary {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 17px;
    padding: 30px 30px 30px 60px;
    font-family: "Qanelas";
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fafafc;
    border-bottom: 1px solid #d6d6f1;
}

.tab-content-item ul li {
    list-style-type: none;
    margin: 0px 5px;
}
.contacts-tab-content .contanct-ico {
    /*margin: 10px 25px !important;*/
}
.map-social-info iframe {
    display: none;
}
.show-map {
    display: block !important;
    transition: 1s;
}
.tab-content-item ul li a {
    color: #fff;
}

.tab-content-item ul {
    margin-top: 30px;
}

.active-contact-tab {
    display: none;
}

.open-details .active-contact-tab {
    display: block;
    position: absolute;
    right: -11px;
    top: 50%;
    bottom: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.contacts-tab-content .map-social-info .social-media {
    background: #d8d8ff;
    border-radius: 1px;
    width: 50%;
    padding: 10px;
}

.contacts-tab-content .map-social-info .social-media-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    text-align: center;
}
.contacts-tab-content ul li a:hover{
    color: #fff !important;
}
.media-container {
    display: flex;
    width: 100%;
}

.contacts-tab-content .messages {
    border-right: 1px solid #c2c2ec;
}

.map-social-info {
    padding-bottom: 60px;
}

.contacts-tab-content .social-media ul li a {
    width: 40px;
    height: 40px;
    display: block;
}

.contacts-tab-content .social-media ul {
    display: flex;
    width: fit-content;
    padding: 0;
    margin: 0px auto 10px;
}

.contacts-tab-content .social-media li a {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.media-container .viber {
    background-image: url(../images/svg/svg-social/viber.svg);
}

.media-container .telegram {
    background-image: url(../images/svg/svg-social/telegram.svg);
}

.media-container .messenger {
    background-image: url(../images/svg/svg-social/messenger.svg);
}

.media-container .whats {
    background-image: url(../images/svg/svg-social/whatsapp.svg);
}

.media-container .fb {
    background-image: url(../images/svg/svg-social/facebook.svg);
}

.media-container .inst {
    background-image: url(../images/svg/svg-social/inst.svg);
}

.media-container .linkedin {
    background-image: url(../images/svg/svg-social/linkedin.svg);
}

.media-container .tiktok {
    background-image: url(../images/svg/svg-social/tiktok.svg);
}

.media-container .youtube {
    background-image: url(../images/svg/svg-social/youtube.svg);
}

.adaptive-widget {
    display: none;
}

/*investors dowmload css from prod*/

.investors__main-col {
    width: 100% !important;
}

.investors__imgs-wrap--to-top {
    right: 0px;
}

.investors .bread-crumbs,
.developers .bread-crumbs {
    margin-bottom: 20px;
}

.developers__btns a {
    font-family: "Qanelas";
    width: 100%;
    max-width: 295px;
    box-sizing: border-box;
    justify-content: flex-start;
}

.icon-btn--extra-big span {
    font-size: 1.8em;
}

.icon-btn--extra-big span.smaller {
    font-size: 1.45em;
    margin-left: 18px;
}

.developers p {
    color: #000;
}

.developers__text-bolder {
    font-weight: 700;
}

.col-number {
    display: flex;
    width: 100%;
    margin-bottom: 57px;
}

.col-number > div {
    width: 50%;
}

.developers__num {
    margin: 0px;
}

.col-number > div:first-child {
    text-align: right;
}

.col-number > div:nth-child(2) {
    text-align: left;
}

.developers__left-col {
    width: calc(60px + (100% - 180px) / 8 * 4);
}

.developers__right-col {
    width: calc(90px + (100% - 180px) / 11 * 5.5);
}

.experts__types {
    width: 100%;
}

.experts__photo {
    width: 100%;
}

.experts__types-row {
    margin-top: 40px;
}

.developers__text-bolder {
    font-size: 17px;
    line-height: 21px;
    color: #000;
}

.title--blue-bg {
    background-color: #0000e0;
    color: #fff;
    line-height: 30px;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 35px;
}

.pdf-element__bottom a[href*=".pdf"] {
    background-image: url(../images/pdf_dark_blue.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 1.5em auto;
}

.title.developers__right-title {
    font-size: 20px;
}

.advices .container {
    margin-bottom: 30px;
}

.advices .container .icon-btn--big {
    font-size: 23px;
}

.obj-id {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #626982;
}

.proposal-name {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #091745;
    border-left: 4px solid #081f6e;
    padding-left: 15px;
    margin-top: 10px;
}

.proposal-description {
    margin-top: 10px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.one-item.single-page .price-container {
    padding: 20px 0px;
    border-top: 2px solid #d5dcf5;
    border-bottom: 2px solid #d5dcf5;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 20px;
}

.price-label {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #091745;
    margin-right: 10px;
}

.one-item.single-page .price {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
}

.one-item.single-page .discount {
    font-size: 18px;
    line-height: 25px;
}

.proposal-details-title,
.rieltor-details-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #091745;
    margin-top: 20px;
    margin-bottom: 20px;
}

.proposal-details-container .information-line > div {
    padding-right: 14px;
}

.proposal-details-container .information-line {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proposal-details-container {
    display: block;
    flex-wrap: nowrap;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 13px;
    margin-bottom: 20px;
    height: auto !important;
}

.proposal-details-container .categories-object:nth-of-type(2n+1) {
    margin-left: 0 !important; 
}

.proposal-details-container .information-line > div:first-child {
    width: 45% !important;
}

.carousel-loading {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    visibility: hidden;
}

.rieltor-info {
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.rieltor-name {
    height: 16px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: white;
    padding: 0 1rem;
    margin: 0.4rem 0 0.6rem;
    display: flex;
    align-items: center;
}

.rieltor-phone {
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin: 0.4rem 0;
}

.rieltor-social-media-none {
    background: rgba(2, 1, 137, 0.57) !important;
}

.rieltor-phone:hover {
    color: B5B5B5 !important;
}

.rieltor-contacts-mobile .rieltor-name:hover {
    color: rgb(181, 181, 181) !important;
}

.rieltor-email {
    height: 16px;
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    color: white;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0.4rem 0;
}

.rieltor-email:hover {
    color: rgb(181, 181, 181) !important;
}

.rieltor-phone-img {
    height: 8px !important;
    width: auto !important;
    padding-right: 0.5rem;
}

.rieltor-icon-img {
    height: 10px !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.rieltor-info {
    border-radius: 1px;
}

.img-rieltor-info:hover .rieltor-info-img{
    transform: scale(1.1); 
}

.img-rieltor-info-object {
    margin-left: 20px;
}

.rieltor-info:hover{
    overflow: hidden;
    box-shadow: 0px 6px 14px rgb(30 45 182 / 15%);
    transition: 0.25s;
    object-fit: cover;
}

.rieltor-info-object {
    height: 400px !important;
}

.rieltor-info-object .rieltor-info-img {
    height: 400px !important;
}

.rieltor-info-img {
    width: 100% !important;
    height: 300px !important;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.rieltor-details-container .rieltor-phone img {
    width: 17px !important;
    height: 17px !important;
    margin: 0;
}

.rieltor-contacts {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.block-rieltor-mortgage-call{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.rieltor-mortgage-call{
    text-align: center;
    padding-right: 5%;
    width: 100%;
    height: 45px;
    background: #209e6e;
    border-radius: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 10px 30px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rieltor-mortgage-call-img{
    margin-right: 0.5rem;
    max-width: 18px;
}

.rieltor-mortgage-call:hover {
    color: #2b2d36 !important;
}

.block-rieltor-order-date {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.rieltor-order-date-img {
    margin-left: 0.5rem;
}

.rieltor-order-date {
    text-align: center;
    padding-right: 5%;
    width: 100%;
    height: 45px;
    background: #112c87;
    border-radius: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 10px 30px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rieltor-order-date:hover {
    color: #626982 !important;
}

.rieltor-details-title {
    font-family: "Qanelas";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}

.rieltor-other-proposals .read-more {
    position: relative;
    margin: 0px;
    padding: 0px;
    bottom: 0;
    border-radius: 1px;
    background: url(../images/read-more-arrow-white.png), #112c87;
    background-repeat: no-repeat;
    background-position: 92% center;
    padding: 4px 27px 4px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.rieltor-social-media {
    background: rgba(255, 255, 255, 0.78);
    -webkit-backdrop-filter: blur(1.75097px);
    display: flex;
    justify-content: center;
    width: 10%;
    box-sizing: content-box;
    bottom: 0;
    height: 100%;
}

.block-contacte-agent {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: -webkit-fill-available;
    height: 75px;
}

.block-contacte-agent-object {
    height: 90px;
}

.rieltor-social li {
    width: 100%;
    height: 25px;
    cursor: pointer;
    list-style-type: none;
}
.rieltor-details-container {
    position: relative;
}

.rieltor-social li:hover {
    opacity: 0.7;
}
.rieltor-social {
    height: 75px;
    display: block;
    margin: 0;
    align-items: center;
    padding-inline-start: 0 !important;
}

.rieltor-details-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.rieltor-other-proposals {
    background: #ebebff;
    padding: 15px 20px;
    display: block;
}

.rieltor-other-text {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #112c87;
}

.rieltor-other-proposals .rieltor-other-button {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories-object {
    display: flex;
    width: 45%;
    white-space: nowrap;
}


.categories-object:nth-of-type(2n) {
    margin-left: 20px;
}

.download-pdf {
    background: #fafafc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
}
.download-pdf:hover {
    background: #ebebff;
    cursor: pointer;
}
.download-pdf:hover a,
.download-pdf a:hover {
    color: #112c87 !important;
}

.download-pdf a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #112c87;
    background: url(../images/pdf-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.left-block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #091745;
}

.placement-line {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    margin-bottom: 20px;
}

.placement-items .col-md-4 {
    padding: 0px;
}

.placement-items {
    margin: 20px 0px;
    border-top: 2px solid #d5dcf5;
    padding-top: 20px;
    border-bottom: 2px solid #d5dcf5;
}

.pl-d-sad {
    background-image: url("../images/placement/pl-d-sad.png");
}

.pl-school {
    background-image: url("../images/placement/pl-school.png");
}

.pl-univer {
    background-image: url("../images/placement/pl-univer.png");
}

.pl-hospital {
    background-image: url("../images/placement/pl-hospital.png");
}

.pl-bank {
    background-image: url("../images/placement/pl-bank.png");
}

.pl-kids-place {
    background-image: url("../images/placement/pl-kids-place.png");
}

.pl-park {
    background-image: url("../images/placement/pl-park.png");
}

.pl-biblio {
    background-image: url("../images/placement/pl-biblio.png");
}

.pl-pharmacy {
    background-image: url("../images/placement/pl-pharmacy.png");
}

.pl-market {
    background-image: url("../images/placement/pl-market.png");
}

.pl-veterinar {
    background-image: url("../images/placement/pl-veterinar.png");
}

.pl-police {
    background-image: url("../images/placement/pl-police.png");
}

.pl-ambulance {
    background-image: url("../images/placement/pl-ambulance.png");
}

.placement-line {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.peculiarity-line {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
    background: url(../images/placement/pl-check.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-bottom: 20px;
}
.peculiarity-lines-container {
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    border-radius: 1px;
    padding: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.peculiarity-lines-container .col-md-6 .peculiarity-line:last-child {
    margin-bottom: 0px;
}
.peculiarity-lines-container .col-md-6 {
    padding: 0px;
}
.proposals .left-block-title {
    font-size: 18px;
    text-align: center;
}
.borderer {
    border-left: 1.5px solid #d6d6f1;
    border-right: 1.5px solid #d6d6f1;
}
.proposal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #091745;
}
.proposals-container .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.proposals-container .row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.one-item.single-page .container {
    margin-bottom: 10px;
}
.jcarousel-works-pagination,
.jcarousel-testimonials-pagination {
    display: none;
}
.slider-carousel-for-desktop {
    display: block;
}
.slider-carousel-for-mobile,
.rieltor-info-for-mobile {
    display: none;
}
.navigation-arrows a:hover {
    transition: 0s;
}
.rieltor-info-for-mobile {
    position: fixed;
    z-index: 999999;
    width: 100%;
    background: #f7f7fc;
    border: 1px solid #d6d6f1;
    box-sizing: border-box;
    box-shadow: 0px -2px 26px rgb(30 45 182 / 15%);
    bottom: 0px;
}
.rieltor-info-for-mobile .rieltor-details-title {
    text-align: center;
}
.schedule-meet {
    display: flex;
}
.schedule-meet img {
    margin: 10px;
    width: 30px;
    height: 30px;
}
.schedule-meet button {
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
    justify-content: center;
    background-position: 75% center;
}

/*slider carousel*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

#myCarousel,
#myCarousel-responsive {
    margin: 0 auto;
}

#thumbCarousel,
#thumbCarousel-responsive {
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    min-height: 140px;
    justify-content: start;
    flex-wrap: wrap;
}
.one-item.single-page .col-md-5 {
    padding: 0;
}
#thumbCarousel .thumb {
    border: 1px solid #ccc;
    position: relative;
    width: 25%;
}

#thumbCarousel-responsive .thumb {
    border: 1px solid #ccc;
    position: relative;
    width: 33.33%;
}
.thumb:hover {
    cursor: pointer;
}

.thumb.active img {
    opacity: 1;
    border: 1px solid #1d62b7;
}
.carousel-control.left,
.carousel-control.right {
    background: none !important;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
    content: none !important;
}

.carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.0s ease-in-out;
    -o-transition: -o-transform 0.0s ease-in-out;
    transition: transform 0.0s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner > .item {
    position: relative;
    -webkit-transition: 0.0s ease-in-out left;
    -o-transition: 0.0s ease-in-out left;
    transition: 0.0s ease-in-out left;
}

.carousel-inner > .item.active,
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right {
    left: 0;
    
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    line-height: 1;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-inner > .item.active,
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right {
    left: 0;
   
}
.carousel-inner > .item.active,
.carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right {
    left: 0;
  
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .item.active.right,
.carousel-inner > .item.next {
    left: 0;
   
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.additional-photos {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #fafafc;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-carousel-thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.img-carousel-large-preview {
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#myCarousel-responsive .img-carousel-large-preview {
    min-height: 300px;
}

#myCarousel .jcarousel-control-prev,
#myCarousel .jcarousel-control-next,
#myCarousel .jcarousel-control-prev-custom,
#myCarousel .jcarousel-control-next-custom,
#myCarousel-responsive .jcarousel-control-prev,
#myCarousel-responsive .jcarousel-control-next,
#myCarousel-responsive .jcarousel-control-prev-custom,
#myCarousel-responsive .jcarousel-control-next-custom {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
}
/*end slider carousel*/

.share {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    margin: 10px;
    cursor: pointer;
}
.container-with-carousel .about-us-title {
    margin-top: -55px;
}
.text,
.developers__text {
    font-size: 16px;
}
.investors__title,
.investors__title-big {
    margin-bottom: 10px !important;
}
.developers__img-wrap--big-mt {
    margin-top: 0px;
}

.carier-accordion-container details.open-details,
.carier-accordion-container details.open-details:hover {
    background: url(../images/summary-title-devider.png), url(../images/accountant.png),
        url(../images/accordion-open.png), #e9ecf8;
}
.carier-accordion-container details:hover {
    background: url(../images/summary-title-devider.png), url(../images/accountant.png),
        url(../images/accordion-close.png), #e9ecf8;
}

/*.teams.single-page .bread-crumbs {
    padding-top: 80px;
}*/
.teams.single-page .about-us-title {
    margin-top: 20px;
}
.employee-item .rieltor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 300px;
}
.employee-item .rieltor-contacts {
    align-items: center;
    text-align: start;
    justify-content: flex-start;
    bottom: 0;
    background: rgba(2, 1, 137, 0.57);
    -webkit-backdrop-filter: blur(7.5px);
}

.more-objects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 16.5px;
    background: #112c87;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin: 15px 0px;
}
.employee-item {
    margin-bottom: 30px;
}
.employee-item .rieltor-details-title {
    margin-top: 0px;
}
.employee-item .rieltor-social-media {
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
    align-items: center;
}
.rieltor-objects .about-us-title {
    margin-top: 0px;
}

/*.rieltor-objects .bread-crumbs {
    padding-top: 80px;
}*/

.rieltor-objects > .container {
    margin-top: 20px;
}
.employee-item:hover {
    background: #f7f7fc;
    box-sizing: border-box;
    box-shadow: 0px 6px 14px rgb(30 45 182 / 15%);
    border-radius: 1px;
    transition: 0.25s;
}
.about-us.single-page .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-phone-container {
    display: none;
    background: #d5dcf5;
    color: #091745;
}
.mobile-phone-container img {
    margin-right: 10px;
}
.mobile-navigation > div {
    display: none;
}
.mobile-navigation > div.show-mobile-nav {
    display: flex;
    color: #091745;
}
.mobile-languages-submenu.show-mobile-nav {
    margin-right: -34px !important;
}
.hide-header-number {
    display: none !important;
}
.h-100 {
    height: 100%;
}
.navbar-collapse.collapse.in .nav-item a,
.navbar-collapse.collapsing .nav-item a {
    font-size: 22px !important;
    color: #fff;
    font-weight: 700 !important;
}
.navbar-collapse.collapse.in > ul,
.navbar-collapse.collapsing > ul {
    margin-top: 100px;
}
.logo-mobile,
.mobile-search,
.mobile-navigation {
    display: none;
}
.navbar-brand img {
    display: none;
    width: 90px;
}
.show-logo {
    display: block !important;
}
.navbar-toggler span {
    display: none;
}
.show-icon {
    display: block !important;
}
.show-icon .close-btn {
    padding: 60px 20px 20px 20px;
}
/*.preview-image .photo-label {
    width: 100% !important;
}*/
.search__form .form-element input {
    font-size: 26x !important;
}
.search__form button {
    font-size: 1.6em !important;
}
.search__close {
    height: 2.4em !important;
}
.call__container .rieltor-social li a {
    display: block;
    height: 40px;
    width: 40px;
}
.call__main {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.call__main > a {
    margin: 0px;
    text-align: center;
}
.call__main .rieltor-social {
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.call__main .rieltor-social li {
    width: 30px;
    height: 30px;
}




.carousel {
	position: relative;
}
.carousel-item img {
	object-fit: cover;
}

#carousel-thumbs {
	background: #f0f0f0;
	padding: 0 50px;
}
#carousel-thumbs img:hover {
	opacity: 100%;
}

#carousel-thumbs img {
	opacity: 80%;
	border: 3px solid transparent;
	cursor: pointer;
}
#carousel-thumbs .selected img {
	opacity: 100%;
}

.carousel-control-prev,
.carousel-control-next {
	width: 50px;
    cursor: pointer;
}

.carousel-fullscreen-icon {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 1.75rem;
	height: 1.75rem;
	z-index: 4;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
}

.carousel-fullscreen-icon:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z' /%3E%3C/svg%3E");
}

.pause .carousel-pause-icon {
	position: absolute;
	top: 3.75rem;
	left: 1rem;
	width: 1.75rem;
	height: 1.75rem;
	z-index: 4;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
}
.pause .carousel-pause-icon:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z' /%3E%3C/svg%3E");
}

.play .carousel-pause-icon {
	position: absolute;
	top: 3.75rem;
	left: 1rem;
	width: 1.75rem;
	height: 1.75rem;
	z-index: 4;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.80)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
}

.play .carousel-pause-icon:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)'  viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z' /%3E%3C/svg%3E");
}

#carousel-thumbs .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(0,0,0,.60)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carousel-thumbs .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%60000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.modal-content {
	border-radius: 0;
	background-color: transparent;
	border: none;
}
#lightbox-container-image img {
	width: auto;
	max-height: 520px;
}

summary::-webkit-details-marker {
    display: none !important;
}
