.button-blue {
    color: white;
    background-color: #112c87;
}

.proposal-container .preview-image .photo-label-1,
.proposal-container .preview-image .photo-label-2,
.proposal-container .preview-image .photo-label-3,
.proposal-container .preview-image .photo-label-7 {
    width: 35%;
    height: auto !important;
    bottom: 0;
    right: 0;
    left: auto;
    position: absolute;
    z-index: 2;
}

.pagination a{
    cursor: pointer;
}

/** search **/
.search-container img{
    cursor: pointer;
}

body.search-active {
    position: relative;
    left: 0;
    transition: left .3s ease-out;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    touch-action: none;
    overflow: hidden;
}

body.search-active .search {
    opacity: 1;
}

.search {
    position: fixed;
    z-index: 2222;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s linear;
    transition-delay: .1s;
    background: hsla(0,0%,100%,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.search.hide{
    display: none;
}

.search {
    align-content: center;
}

.search__close {
    display: block;
    height: 3em;
    width: 3em;
    border: none;
    position: absolute;
    right: -23%;
    top: -120% !important;
    padding: 0;
    outline: none!important;
    background-color: transparent;
    transition: .4s;
    cursor: pointer;
}

.search__close:after,
.search__close:before {
    content: "";
    display: block;
    transform-origin: center center;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: rotate(45deg) translate(0);
    width: 0.5em;
    height: 90%;
    background-color: #05237c;
}

.search__close:after {
    transform: rotate(-45deg) translate(0);
}

.search__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
}

.search__form .form-element {
    position: relative;
    margin-bottom: 15px;
}

.search__form button {
    margin: 0 auto;
    max-width: 100%;
    min-width: 250px;
    font-size: 2em;
    padding: 11px 10px 13px;
}

.search__form .form-element input {
    text-align: center;
    font-size: 2.7em;
    height: auto;
}
.form-element input {
    border: none;
    border-bottom: 1.2px solid #e0dede;
    background-color: transparent;
    outline: none!important;
    padding: 0 0 3px;
    color: rgba(0,0,0,.9);
    width: 100%;
    height: 26px;
    font-family: Qanelas Regular,sans-serif;
    font-size: 1em;
    display: block;
    line-height: 120%;
}

/** search **/

.preview-image .photo-label-4,
.preview-image .photo-label-5 {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.preview-image .photo-label-6 {
    width: auto !important;
    height: 100% !important;
    object-fit: cover;
}

.preview-image .photo-label-7,
.preview-image .photo-label-3,
.preview-image .photo-label-2,
.preview-image .photo-label-1 {
    width: 35% !important;
    height: auto !important;
    object-fit: cover;
}

.category-1{
    background-image: url(../img/categories/1.svg);
    background-size: 20px 20px;
}

.category-2{
    background-image: url(../img/categories/2.svg);
    background-size: 20px 20px;
}

.category-3{
    background-image: url(../img/categories/3.svg);
    background-size: 20px 20px;
}

.category-4{
    background-image: url(../img/categories/4.svg);
    background-size: 20px 20px;
}

.category-5{
    background-image: url(../img/categories/5.svg);
    background-size: 20px 20px;
}

.category-6{
    background-image: url(../img/categories/6.svg);
    background-size: 20px 20px;
}
.category-10{
    background-image: url(../img/categories/10.svg);
    background-size: 20px 20px;
}

.chars-1{
    background-image: url(../img/characteristics/1.svg);
    background-size: 20px 20px;
}

.chars-2{
    background-image: url(../img/characteristics/2.svg);
    background-size: 20px 20px;
}
.chars-3{
    background-image: url(../img/characteristics/3.svg);
    background-size: 20px 20px;
}
.chars-4{
    background-image: url(../img/characteristics/4.svg);
    background-size: 20px 20px;
}
.chars-5{
    background-image: url(../img/characteristics/5.svg);
    background-size: 20px 20px;
}
.chars-6{
    background-image: url(../img/characteristics/6.svg);
    background-size: 20px 20px;
}
.chars-7{
    background-image: url(../img/characteristics/7.svg);
    background-size: 20px 20px;
}
.chars-8{
    background-image: url(../img/characteristics/8.svg);
    background-size: 20px 20px;
}
.chars-9{
    background-image: url(../img/characteristics/9.svg);
    background-size: 20px 20px;
}
.chars-10{
    background-image: url(../img/characteristics/10.svg);
    background-size: 20px 20px;
}
.chars-11{
    background-image: url(../img/characteristics/11.svg);
    background-size: 20px 20px;
}
.chars-12{
    background-image: url(../img/characteristics/12.svg);
    background-size: 20px 20px;
}
.chars-13{
    background-image: url(../img/characteristics/13.svg);
    background-size: 20px 20px;
}
.chars-14{
    background-image: url(../img/characteristics/14.svg);
    background-size: 20px 20px;
}
.chars-15{
    background-image: url(../img/characteristics/15.svg);
    background-size: 20px 20px;
}
.chars-16{
    background-image: url(../img/characteristics/16.svg);
    background-size: 20px 20px;
}
.chars-17{
    background-image: url(../img/characteristics/17.svg);
    background-size: 20px 20px;
}

.filter-params .selected-filter{
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
}

/** preloader **/
.preloader{
    position: absolute;
    top: 0;
    display: flex;
}

.preloader.top-10{
    top: 10px;
}

.preloader.top--25{
    top: -45px;
}

.hidden{
    visibility: hidden;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #112c87;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
/** preloader **/

/** call center **/
.call {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    transition: all .4s
}

.call.special-order {
    bottom: 70px
}

@media screen and (max-width: 540px) {
    .call.special-order {
        right:10px;
        bottom: 10px
    }
}

@media (pointer: coarse) {
    .call.special-order {
        display:none
    }
}

.call__content {
    width: 320px;
    max-width: calc(100% - 15px);
    background-color: #fff;
    box-shadow: 0 0 7px 3px #bfbfbf
}

@media screen and (max-width: 540px) {
    .call__content {
        max-width:290px
    }
}

.call-row {
    display: flex;
    padding-top: 20px
}

.call__img-wrap {
    align-self: center;
    padding: 0 5px;
    max-width: 130px
}

.call__img-wrap img {
    display: block;
    width: 100% !important;
}

@media screen and (max-width: 540px) {
    .call__img-wrap {
        max-width:90px
    }
}

.call__main {
    display: flex;
    flex-direction: column
}

.call__inside-btn {
    float: right;
    padding: 0;
    width: 20px;
    height: 20px;
    background-color: #0000e0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

.call__inside-btn img {
    width: 12px !important;
    display: block;
    max-width: none;
    transform: rotate(-180deg)
}

.call__social-list {
    display: flex;
    justify-content: space-between
}

.call__social-list li {
    display: flex;
    align-items: flex-start
}

.call__social-list li a img {
    transition: transform .4s;
    transform-origin: center center;
    width: 25px
}

.call__social-list li a:hover img {
    transform: scale(1.1)
}

.call__title {
    font-size: 1.714em;
    font-family: Qanelas Light,sans-serif;
    color: #0000e0
}

.call__phone {
    font-size: 1.14em;
    color: #595959;
    font-family: Qanelas Bold,sans-serif;
    margin: 5px 0 15px;
    transition: color .4s
}

.call__phone:hover {
    color: #000;
    text-decoration: none
}

.call__toggle-element {
    box-shadow: 0 0 7px 3px #bfbfbf;
    background-color: #fff;
    display: flex;
    padding: 10px;
    width: 155px;
    cursor: pointer
}

.call__toggle-element img {
    transform-origin: center center;
    animation-name: phone;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear
}

.call__toggle-element p {
    color: #0000e0;
    font-size: 1.214em;
    padding-left: 7px
}

@keyframes phone {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(20deg)
    }
}

.bounce-enter-active {
    animation: bounce-in .4s
}

.bounce-leave-active {
    animation: bounce-in .5s reverse
}

@keyframes bounce-in {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1.5)
    }

    to {
        transform: scale(1)
    }
}

.slide-fade-enter-active {
    transition: all .2s ease
}

.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1,.5,.8,1)
}

.slide-fade-enter,.slide-fade-leave-to {
    transform: translateY(50px);
    opacity: 0
}
/** call center **/

.agent-call-modal .form-modal{
    height: 620px;
}

.agent-call-modal .form-modal .modal-order-call-container{
    width: 462px;
}

@media only screen and (min-width: 576px){
    .sort-by details{
        width: 225px;
    }
}

.price-container{
    justify-content: space-between;
}

.obj-page .price-container{
    justify-content: flex-start;
}

.obj-page .price-square{
    padding-left: 10px;
    padding-top: 5px;
}

.price-square{
    color: #0000ff;
}

.rieltor-icon-img{
    height: 16px !important;
}

.rieltor-phone-img{
    height: 10px !important;
}

.obj-page .rieltor-info-object .rieltor-info-img {
    height: 450px !important;
}

.team-index .rieltor-info-img {
    height: 310px !important;
}

sup {
    top: .5em !important; 
}
  
.price-square sup {
    top: -.5em !important; 
}

.objects-list-agent sup{
    top: .5 !important;
}

.jcarousel-wrapper sup{
    top: .5em !important;
}
  