.thumbnails {
  display: flex;
  margin: 1rem auto 0 !important;
  padding: 0;
  justify-content: center;
  gap: 1rem !important;
}
@media (max-width: 768px) {
  .thumbnails {
    gap: 0.5rem !important;
  }
}

.thumbnail {
  width: 140px !important;
  height: 79px !important;
  overflow: hidden;
  list-style: none;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.splide__arrow {
  border: none !important;
  outline: none !important;
  opacity: 1 !important;
  background-color: #fff !important;
}

.splide__arrow svg {
  height: 0.7em !important;
  width: 0.5em !important;
}

.splide__arrow:disabled {
  opacity: 0 !important;
}

.slide-width {
  width: 1200px !important;
}
