<template>
  <a :href="objInfo.url">
    <div class="proposal-container section-container">
      <div class="lazyload preview-image"
           :data-bg="`uploaded/thumbs/${objInfo.mainphotothumb}?v=${objInfo.timestamp}`">

        <img :data-src="`img/labels/` + objInfo.photo_label + `.png`" :class="`lazyload photo-label photo-label-` + objInfo.photo_label"
             v-if="objInfo.photo_label > 0" style="max-height: 100%;">
      </div>
      <div class="price-container">
        <div class="price" v-html="objInfo.price_text"></div>
        <div v-if="objInfo.old_price_text" class="discount" v-html="objInfo.old_price_text"></div>
        <div v-if="objInfo.price_square" class="price-square" v-html="objInfo.price_square_text"></div>
      </div>
      <div class="information">
        <div class="information-line">
          <div class="ico-place" v-html="objInfo.name"></div>
          <div v-if="$parent.$parent.category_id?.length" :class="`category-${$parent.$parent.category_id}`" v-html="$parent.$parent.category_name"></div>
          <div v-if="objInfo.area" class="ico-area" v-html="objInfo.area"></div>
          <div v-if="getRooms !== ''" class="ico-room" v-html="getRooms"></div>
          <div v-if="getBathrooms !== ''" class="ico-bathroom" v-html="getBathrooms"></div>
        </div>
      </div>
    </div>
  </a>
</template>

<script>
export default {
  props: {
    objInfo: {}
  },

  data() {
    return {}
  },

  computed: {
    getRooms() {
      let quantity_text = '';

      let param = this.objInfo.parameters.find(o => o.id === 2);
      let value = param?.values.find(v => v.id === param.pivot.value_id)?.value ?? '';

      if(value) {
        if (parseInt(value) == 1) {
          quantity_text = window.i18n.vue.rooms_quantity1;
        }
        if (parseInt(value) > 1) {
          quantity_text = window.i18n.vue.rooms_quantity2;
        }
        if (parseInt(value) > 4) {
          quantity_text = window.i18n.vue.rooms_quantity3;
        }
      }

      return `${value} ${quantity_text}`;
    },
    getBathrooms() {
      let quantity_text = '';

      let param = this.objInfo.parameters.find(o => o.id === 9);
      let value = param?.values.find(v => v.id === param.pivot.value_id)?.value ?? '';

      if(value) {
        if (parseInt(value) == 1) {
          quantity_text = window.i18n.vue.bathrooms_quantity1;
        }

        if (parseInt(value) >= 2) {
          quantity_text = window.i18n.vue.bathrooms_quantity2;
        }
      }

      return `${value} ${quantity_text}`;
    }
  },

  methods: {

  }
}
</script>
