<template>
  <div class="category-items">
    <div class="preloader top-10">
      <div v-if="this.$store.state.isLoading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

    <h2 class="title title--big-mb hidden" :class="{'visible' : this.$store.state.isLoading === false && this.objects.length}">
      <span class="hidden-title" v-html="`${trans('vue.search_result1')} ${this.searchword} ${trans('vue.search_result2')}`"></span>
    </h2>

    <div class="row">
      <div v-for="object in this.objects" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3" :key="object.id">
        <objects-card :objInfo="object"></objects-card>
      </div>
      <h4 v-if="this.$store.state.isLoading === false && !this.objects.length">{{ trans('vue.no_results') }}</h4>
    </div>

    <!--pagination-->
    <div class="pagination justify-content-end" v-show="this.last_page > 1 && !this.$store.state.is_mobile">
      <ul class="pagination-container">
        <li class="pag-item prev">
          <a @click.stop="previousPage()"><img src="images/svg/pag-prev.svg"></a>
        </li>

        <li v-for="page in getPageRange()" class="pag-item"
            :class="{'active': page === this.current_page}">
          <a @click.stop="setPage(page)" v-html="page"></a>
        </li>

        <li class="pag-item next">
          <a @click.stop="nextPage()"><img src="images/svg/pag-next.svg"></a>
        </li>
      </ul>
    </div>

    <template v-if="this.$store.state.isLoading === false && this.objects.length && this.$store.state.is_mobile">
      <infinite-loading :distance=500 @infinite="nextPage"/>
    </template>

  </div>
</template>

<script>
import {mapGetters} from "vuex";
import queryMixin from "../mixins/query.mixin";

export default {
  mixins: [queryMixin],

  props:{
    search_objects_url: '',
    searchword: ''
  },

  mounted() {
    let payload = {
      'searchword': this.searchword,
      'url': this.search_objects_url
    }

    let $this = this;
    this.$store.dispatch('getSearchObjects', payload).then(function () {
       $("#titleResult").text($this.$store.getters.total_objects);
    });
  },

  computed: {
    ...mapGetters(['objects', 'current_page', 'last_page', 'on_each_side'])
  },

  methods: {
    windowTop() {
      setTimeout(function () {
        $('html, body').animate({
          scrollTop: 0
        }, 1000);
      }, 1000);
    },

    getPageRange() {
      let current = this.current_page;
      let last = this.last_page;
      let delta = this.on_each_side;
      let left = current - delta;
      let right = current + delta + 1;
      let range = [];
      let pages = [];
      let l;
      for (let i = 1; i <= last; i++) {
        if (i === 1 || i === last || (i >= left && i < right)) {
          range.push(i);
        }
      }
      range.forEach(function (i) {
        if (l) {
          if (i - l === 2) {
            pages.push(l + 1);
          } else if (i - l !== 1) {
            pages.push('...');
          }
        }
        pages.push(i);
        l = i;
      });
      return pages;
    },

    setPage(page) {
      let self = this;

      self.$store.commit('SET_OBJECTS_PAGE', page);

      let payload = {
        'searchword': this.searchword,
        'url': this.search_objects_url
      }
      self.$store.dispatch('getSearchObjects', payload).then(function (){
        self.windowTop();
      })
    },

    previousPage() {
      if (this.current_page === 1) {
        return false;
      }

      this.$store.commit('OBJECTS_PAGE_DECREMENT');
      this.windowTop();
    },

    async nextPage($state) {
      if (this.current_page === this.last_page) {
        return false;
      }

      this.$store.commit('OBJECTS_PAGE_INCREMENT');

      if(this.$store.state.is_mobile) {
        let payload = {
          'searchword': this.searchword,
          'url': this.search_objects_url
        }
        this.$store.dispatch('getSearchObjects', payload).then(function (){
          this.windowTop();
        })
      }else {
        this.windowTop();
      }
    },
  }
}
</script>