<template>
  <div class="category-items">
    <div class="preloader top--25">
      <div v-if="this.$store.state.isLoading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

    <div class="row">
      <div v-for="object in this.objects" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" :key="object.id">
        <objects-card :objInfo="object"></objects-card>
      </div>
      <h4 v-if="this.$store.state.isLoading === false && !this.objects.length">{{ trans('vue.no_results') }}</h4>
    </div>

    <!--pagination-->
    <div class="pagination justify-content-end" v-show="this.last_page > 1 && !this.$parent.is_mobile">
      <ul class="pagination-container">
        <li class="pag-item prev">
          <a @click.stop="previousPage()"><img src="images/svg/pag-prev.svg"></a>
        </li>

        <li v-for="page in getPageRange()" class="pag-item"
            :class="{'active': page === this.current_page}">
          <a @click.stop="setPage(page)" v-html="page"></a>
        </li>

        <li class="pag-item next">
          <a @click.stop="nextPage()"><img src="images/svg/pag-next.svg"></a>
        </li>
      </ul>
    </div>

    <template v-if="this.$store.state.isLoading === false && this.objects.length && this.$parent.is_mobile">
      <infinite-loading :distance=500 @infinite="nextPage"/>
    </template>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import queryMixin from "../mixins/query.mixin";

export default {
  mixins: [queryMixin],

  computed: {
    ...mapGetters(['objects', 'current_page', 'last_page', 'on_each_side'])
  },

  methods: {
    windowTop() {
      setTimeout(function () {
        $('html, body').animate({
          scrollTop: 0
        }, 1000);
      }, 1000);
    },

    getPageRange() {
      let current = this.current_page;
      let last = this.last_page;
      let delta = this.on_each_side;
      let left = current - delta;
      let right = current + delta + 1;
      let range = [];
      let pages = [];
      let l;
      for (let i = 1; i <= last; i++) {
        if (i === 1 || i === last || (i >= left && i < right)) {
          range.push(i);
        }
      }
      range.forEach(function (i) {
        if (l) {
          if (i - l === 2) {
            pages.push(l + 1);
          } else if (i - l !== 1) {
            pages.push('...');
          }
        }
        pages.push(i);
        l = i;
      });
      return pages;
    },

    getCategoryObjects() {
      let payload = {
        'url': this.$parent.category_objects_url,
        'category_id': this.$parent.category_id,
        'page': this.current_page
      }
      this.$store.dispatch('getCategoryObjects', payload);
    },

    setPage(page) {
      this.$parent.changePage(page);
      this.windowTop();
    },

    previousPage() {
      if (this.current_page === 1) {
        return false;
      }

      this.$store.commit('OBJECTS_PAGE_DECREMENT');
      this.windowTop();
    },

    async nextPage($state) {
      if (this.current_page === this.last_page) {
        return false;
      }

      this.$store.commit('OBJECTS_PAGE_INCREMENT');

      if(this.$store.state.is_mobile){
        this.$store.commit('SET_OBJECTS_PAGE', this.current_page);
        this.$parent.filterChanged(true, $state);
      }else{
        this.windowTop();
      }
    },
  }
}

</script>