<template>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
      <div class="filter-container-overlay-only-for-mobile">
        <div class="filter-container">
          <div class="close-for-mobile">
            {{ trans('vue.close') }}
            <img src="images/close-icon.png" alt="">
          </div>
          <div class="filter-container-title">
            <span class="filter-container-title-text">{{ trans('vue.categories') }}</span>
            <span class="filter-find-result">
              {{ trans('vue.total') }}: {{ totalObjects }}
            </span>
          </div>

          <div class="filter-item">
            <div class="filter-lines-container">
              <div class="filter-line" v-for="category in categories" >
                <a :href="category.url">{{ category.name }}</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9">
      <div class="mobile-filters" v-show="this.objects.length">
        <div class="container">
          <div class="sort-by-mobile">

            <div class="sort-block">
              <span>{{ trans('vue.sort') }}</span>
              <details class="details">
                <summary v-html="trans(`vue.sort_${this.$store.getters.current_sort}`)"></summary>
                <div class="details-content">
                  <label @click="changeSort(option)" v-for="option in this.getSortOptions" class="lang-container">
                    <span>{{ trans('vue.sort_' + option) }}</span>
                  </label>
                </div>
              </details>
            </div>

          </div>
          <div class="filter-btn-mobile" @click="this.$store.state.mobileMenuOpen = true">
            {{ trans('vue.filters') }}
            <img src="images/filter-icon.png" alt="">
          </div>
        </div>
      </div>

      <objects-list></objects-list>

    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  props: {
    categories: {},
    category_objects_url: ''
  },

  computed: {
    ...mapGetters(['objects']),

    totalObjects() {
      return this.$store.getters.total_objects;
    }
  },

  mounted() {
    this.getAllObjects();
  },

  methods: {
    changePage(page) {
      this.$store.commit('SET_OBJECTS_PAGE', page);

      this.getAllObjects();
    },

    getAllObjects(){
      let payload = {
        'url': this.category_objects_url
      }

      this.$store.dispatch('getAllObjects', payload)
    }
  }
}
</script>