<template>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
      <div class="filter-container-overlay-only-for-mobile" v-show="!is_mobile">
        <div class="filter-container">
          <div class="close-for-mobile">
            {{ trans('vue.close') }}
            <img src="images/close-icon.png" alt="">
          </div>
          <div class="filter-container-title">
            <span class="filter-container-title-text">{{ trans('vue.filters') }}</span>
            <span class="filter-find-result">
              {{ trans('vue.total') }}: {{ totalObjects }}
            </span>
          </div>

          <div class="filter-item">
            <div class="filter-box">
              <div class="filter-box-title">
                <span class="filter-box-title-text">
                  {{ trans('vue.region') }}
                </span>
              </div>
            </div>
            <div class="filter-lines-container ">
              <details class="details" :style="[ !region_group.regions.length ? {background: 'none'} : '']"
                       v-for="region_group in this.$store.state.filterParameters.regions" :open="(region_group.active && !region_group.click_region_group) || (!region_group.active && region_group.click_region_group)">
                <summary>
                  <div class="filter-line">
                    <label class="filter-label">
                      <span class="filter-line-text" @click.prevent="region_group.click_region_group = !region_group.click_region_group">
                        {{ region_group.name }}
                      </span>
                      <input type="checkbox" :checked="region_group.active" @change="changeRegionGroup(region_group)">
                      <span class="checkmark-checkbox" :class="{'checkmark-minus': region_group.indeterminate}"></span>
                    </label>
                  </div>
                </summary>
                <div class="sub-list">
                  <div class="filter-line" v-for="item in region_group.regions">
                    <label class="filter-label">
                      <span class="filter-line-text">
                        {{ item.name }}
                      </span>
                      <input type="checkbox" :checked="item.selected"
                             @change="changeRegion(item, item.selected, region_group, true)">
                      <span class="checkmark-checkbox"></span>
                    </label>
                  </div>
                </div>
              </details>
            </div>
          </div>

          <div class="filter-item"
               :class="[(parameter.id !== 2 && parameter.id !== 4) ? 'states' : '', parameter.id === 2 ? 'rooms' : '', parameter.id === 4 ? 'range-inputs' : '']"
               v-for="parameter in this.$store.state.filterParameters.params" :key="parameter.id">
            <div class="filter-box">
              <div class="filter-box-title">
                <span class="filter-box-title-text">
                  {{ parameter.name }}
                </span>
              </div>
            </div>

            <div class="filter-lines-container">
              <template v-for="value in parameter.values" :key="value.id">
                <div v-if="parameter.id !== 2 && parameter.id !== 4" class="state"
                     :class="{'selected-item': value.selected}"
                     @click="changeValues(value)">

                  {{ value.value }}
                </div>

                <!--комнаты-->
                <div v-if="parameter.id === 2" class="room-size"
                     :class="{'selected-item': value.selected}"
                     @click="changeValues(value)">

                  {{ value.value }}
                </div>
              </template>
            </div>

            <!--площадь-->
            <div v-if="parameter.id === 4" class="inputs-container">
              <div class="custom-input">
                <input type="text" :placeholder="trans('vue.from')" v-model="parameter.from"
                       @change="changeInterval(parameter)">
                <div class="currency-label">{{ trans('vue.meters') }} <sup>2</sup></div>
              </div>
              <div class="input-devider"></div>
              <div class="custom-input">
                <input type="text" :placeholder="trans('vue.to')" v-model="parameter.to"
                       @change="changeInterval(parameter)">
                <div class="currency-label">{{ trans('vue.meters') }} <sup>2</sup></div>

              </div>
            </div>

          </div>

          <div class="filter-item range-inputs">
            <div class="filter-box">
              <div class="filter-box-title">
                <span class="filter-box-title-text">
                  {{ trans('vue.price') }}
                </span>
              </div>
            </div>

            <div class="filter-lines-container">
              <div class="inputs-container">
                <div class="custom-input">
                  <input type="text" :placeholder="trans('vue.from')" v-model="filterParameters.price.from"
                         @change="changePrice(filterParameters.price)">
                  <div class="currency-label">€</div>
                </div>
                <div class="input-devider"></div>
                <div class="custom-input">
                  <input type="text" :placeholder="trans('vue.to')" v-model="filterParameters.price.to"
                         @change="changePrice(filterParameters.price)">
                  <div class="currency-label">€</div>
                </div>
              </div>
            </div>
          </div>

          <div class="reset-all-filters">
            <span @click="resetFilters()">{{ trans('vue.reset') }}</span>

            <div class="filter-btns-container">
              <div class="reset-or-check-filter-button-container">
                <div class="filter-lines-container hide-reset-menu">
                  <div class="state" @click="resetFilters()">{{ trans('vue.reset') }}</div>
                  <div class="state selected-item" @click="btnFilter()"> {{ trans('vue.apply') }}</div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
      <div class="mobile-filters" v-show="this.objects.length">
        <div class="container">
          <div class="sort-by-mobile">

            <div class="sort-block">
              <span>{{ trans('vue.sort') }}</span>
              <details class="details">
                <summary v-html="trans(`vue.sort_${this.$store.getters.current_sort}`)"></summary>
                <div class="details-content">
                  <label @click="changeSort(option)" v-for="option in this.getSortOptions" class="lang-container">
                    <span>{{ trans('vue.sort_' + option) }}</span>
                  </label>
                </div>
              </details>
            </div>

          </div>
          <div class="filter-btn-mobile" @click="this.$store.state.mobileMenuOpen = true">
            {{ trans('vue.filters') }}
            <img src="images/filter-icon.png" alt="">
          </div>
        </div>
      </div>

      <div class="filter-params">

        <div class="filter-box-title" :class="{'justify-content-end': !selectedParams.length}">
          <span class="filter-box-title-text" v-show="selectedParams.length">
            <span>{{ trans('vue.selected_filters')}}:</span>
            <div class="selected-filter">
              <div class="selected-filter-item" v-for="(selected, key) in selectedParams">
                <span v-html="selected.name_format"></span>
                <img src="images/close-filter-item.png" v-if="selected.param_id !== 4 && selected.param_id !== 0" @click="removeSelectedFilter(selected.id, selected.name, key)">
                <img src="images/close-filter-item.png" v-if="selected.param_id === 0 || selected.param_id === 4" @click="removeSelectedFilter(selected.id, selected.name, key, true)">
              </div>
            </div>
          </span>
          <div class="sort-by" v-show="this.objects.length">
            <span>{{ trans('vue.sort') }}</span>
            <details class="details">
              <summary v-html="trans(`vue.sort_${this.$store.getters.current_sort}`)"></summary>
              <div class="details-content">
                <label @click="changeSort(option)" v-for="option in this.getSortOptions" class="lang-container">
                  <span>{{ trans('vue.sort_' + option) }}</span>
                </label>
              </div>
            </details>
          </div>
        </div>
      </div>

      <objects-list></objects-list>

    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import queryMixin from '../mixins/query.mixin'

export default {
  mixins: [queryMixin],

  props: {
    category_filters_url: '',
    category_objects_url: '',
    category_id: null,
    category_name: '',
    sorting: {},
    is_mobile: false
  },

  data() {
    return {
      selected_filters: []
    }
  },

  created: function() {
    let _this = this;
    window.addEventListener('popstate', function () {
      const query = _this.getQueryParams(document.location.search);

      if(query['page']){
        let payload = {
          'url': _this.category_objects_url,
          'page': query['page']
        }
        _this.$store.state.filterParameters.current_page = query['page'];
        _this.$store.dispatch('getCategoryObjects', payload);
      }
    });
  },

  computed: {
    ...mapGetters(['filterParameters', 'objects']),

    totalObjects() {
      return this.$store.getters.total_objects;
    },

    getSortOptions() {
      let self = this;

      return Object.keys(self.sorting).filter(function (item) {
        return item !== self.$store.getters.current_sort;
      });
    },

    selectedParams() {
      return this.selected_filters;
    }
  },

  mounted() {
    this.$store.commit('SET_CATEGORY_ID', this.category_id);

    let self = this;
    this.$store.dispatch('getCategoryFilters', this.category_filters_url).then(function () {
      self.loadSelectedFilters();
    });
  },

  methods: {
    saveSelectedFilters() {

      let filters = [];
      if (this.filterParameters.filters.params && this.filterParameters.filters.params.length > 0) {
        filters['params'] = this.filterParameters.filters.params;
      }
      if (this.filterParameters.filters.regions) {
        filters['regions'] = this.filterParameters.filters.regions;
      }
      if (this.filterParameters.filters.price) {
        filters['price'] = this.filterParameters.filters.price;
      }
      if (this.filterParameters.filters.intervals) {
        filters['intervals'] = this.filterParameters.filters.intervals.map((item) => {
          return Object.keys(item) + ":" + Object.values(item)[0]
        });
      }

      if(this.filterParameters.current_sort){
        filters['sort'] = this.filterParameters.current_sort;
      }

      if (this.filterParameters.current_page) {
        filters['page'] = this.filterParameters.current_page;
      }

      const link = location.protocol + '//' + location.host + location.pathname + "?"
          + this.serialize(filters);

      window.history.pushState("", "", link);
    },

    loadSelectedFilters() {

      const query = this.getQueryParams(document.location.search);

      if (Object.keys(query).length === 0) {
        let payload = {
          'url': this.category_objects_url,
        }

        this.$store.dispatch('getCategoryObjects', payload);

        return false;
      }

      this.filterParameters.filters = {
        'params': (query.params) ? query.params.split(',').map((el) => parseInt(el)) : [],
        'regions': (query.regions) ? query.regions.split(',').map((el) => parseInt(el)) : null,
        'price': (query.price) ? query.price.split(',').map((el) => parseInt(el)) : null,
        'intervals': (query.intervals) ? query.intervals.split(';').map((el) => {
          let obj = {};
          const arr = el.split(':');
          const arrIntervals = arr[1].split(',');
          obj[arr[0]] = [arrIntervals[0], arrIntervals[1]];
          return obj;
        }) : [],
        'page': (query.page) ? query.page : 1,
        'sort': (query.sort) ? query.sort : 'default'
      };

      this.filterParameters.filter_params = this.filterParameters.filters.params;
      this.filterParameters.filter_regions = this.filterParameters.filters.regions;
      this.filterParameters.filter_price = this.filterParameters.filters.price;
      this.filterParameters.filter_intervals = this.filterParameters.filters.intervals;
      this.filterParameters.current_page = this.filterParameters.filters.page;
      this.filterParameters.current_sort = this.filterParameters.filters.sort;

      // регионы

      if (this.filterParameters.filters.regions && this.filterParameters.filters.regions.length > 0) {
        this.filterParameters.regions.forEach(regionGroup => {

          if(this.filterParameters.filters.regions.includes(7)){
            if(regionGroup.id === 7){
              regionGroup.active = true;

              //R
              this.addSelectedFilter(regionGroup.id, regionGroup.id, regionGroup.name, true);
            }
          }

          let selectedValues = regionGroup.regions.filter((el) => {
            return this.filterParameters.filters.regions.includes(el.id)
          });

          let $this = this;
          selectedValues.forEach(function (element) {
            //R
            $this.addSelectedFilter(regionGroup.id, element.id, element.name, true)

            return element.selected = true;
          });
          if (selectedValues.length > 0) {
            regionGroup.active = true;

            if(regionGroup.regions.length === selectedValues.length) {
              //R
              this.addSelectedFilter(regionGroup.id, regionGroup.id, regionGroup.name, true);
            }
          }
          if (regionGroup.regions.length > selectedValues.length){
            regionGroup.indeterminate = true;
          }
        })
      }

      // параметры-списки (чекбоксы)
      if (this.filterParameters.filters) {
        Object.values(this.filterParameters.params).forEach((paramGroup) => {
          if(Object.entries(paramGroup.values).length) {
            let selectedValues = Object.values(paramGroup.values).filter(el => {
              return this.filterParameters.filters.params.includes(el.id)
            });

            let $this = this;
            selectedValues.forEach(function (element) {
              $this.addSelectedFilter(element.parameter_id, element.id, element.value);

              return element.selected = true;
            });
            if (selectedValues.length > 0) {
              paramGroup.active = true;
            }
          }
        });
      }

      // интервалы
      let $this = this;
      if (this.filterParameters.filters.intervals && this.filterParameters.filters.intervals.length > 0) {
        Object.values(this.filterParameters.filters.intervals).forEach((paramGroup) => {
          let intervalId = parseInt(Object.keys(paramGroup)[0]);
          let intervalValues = paramGroup[intervalId];
          let currentParam = Object.values(this.filterParameters.params).find(el => {
            return el.id === intervalId;
          });
          currentParam.from = intervalValues[0];
          currentParam.to = intervalValues[1];
          currentParam.active = true;

          if(currentParam.from){
            $this.addSelectedFilter(intervalId, 'from_' + intervalId, currentParam.from);
          }
          if(currentParam.to){
            $this.addSelectedFilter(intervalId, 'to_' + intervalId, currentParam.to);
          }
        });
      }

      // цена
      if (this.filterParameters.filter_price) {
        this.filterParameters.price.from = this.filterParameters.filter_price[0] || '';
        this.filterParameters.price.to = this.filterParameters.filter_price[1] || '';

        if(this.filterParameters.price.from) {
          this.addSelectedFilter(0, 'price_from', this.filterParameters.price.from);
        }
        if(this.filterParameters.price.to) {
          this.addSelectedFilter(0, 'price_to', this.filterParameters.price.to);
        }
      }

      // обновляем данные
      this.filterChanged(true);
    },

    changeValues(value) {
      if (value.selected) {
        let index = this.filterParameters.filter_params.indexOf(value.id);
        if (index > -1) {
          this.filterParameters.filter_params.splice(index, 1);
          this.removeSelectedFilter(value.id, value.value);
        }
      } else {
        this.filterParameters.filter_params.push(value.id);
        this.addSelectedFilter(value.parameter_id, value.id, value.value);
      }

      this.filterParameters.filters["params"] = this.filterParameters.filter_params;

      value.selected = !value.selected;

      this.filterChanged()
    },

    changeInterval(parameter) {
      let obj = {};
      obj[parameter.id] = [parameter.from, parameter.to];

      let index = this.filterParameters.filter_intervals.findIndex(function (obj) {
        return parseInt(Object.keys(obj)[0]) === parameter.id;
      });

      if(index !== -1){
        this.filterParameters.filter_intervals[index] = obj;

        this.removeSelectedFilter('from_' + parameter.id, parameter.from, index);
        if(parameter.from) {
          this.addSelectedFilter(parameter.id, 'from_' + parameter.id, parameter.from);
        }

        this.removeSelectedFilter('to_' + parameter.id, parameter.to, index);
        if(parameter.to) {
          this.addSelectedFilter(parameter.id, 'to_' + parameter.id, parameter.to);
        }
      }else{
        this.filterParameters.filter_intervals.push(obj);

        if(parameter.from) {
          this.addSelectedFilter(parameter.id, 'from_' + parameter.id, parameter.from);
        }
        if(parameter.to) {
          this.addSelectedFilter(parameter.id, 'to_' + parameter.id, parameter.to);
        }
      }

      this.filterParameters.filters["intervals"] = this.filterParameters.filter_intervals;

      this.filterChanged()
    },

    changePrice(price) {
      this.filterParameters.filters["price"] = [price.from, price.to];
      this.removeSelectedFilter('price_from', price.from);

      if(price.from) {
        this.addSelectedFilter(0, 'price_from', price.from);
      }

      this.removeSelectedFilter('price_to', price.to);

      if(price.to) {
        this.addSelectedFilter(0, 'price_to', price.to);
      }

      this.filterChanged();
    },

    changeRegionGroup(group) {
      let self = this;
      self.filterParameters.current_page = 1;

      if (!self.filterParameters.filter_regions) {
        self.filterParameters.filter_regions = [];
      }

      group.active = !group.active;
      group.click_region_group = !group.active;
      group.indeterminate = false;

      group.regions.forEach(function (region) {
        region.selected = group.active;

        if(!region.selected){
          let index = self.filterParameters.filter_regions.indexOf(region.id);
          self.filterParameters.filter_regions.splice(index, 1);
          self.removeSelectedFilter(region.id, region.name, 0, false, true);
        }else{
          let index = self.filterParameters.filter_regions.indexOf(region.id);
          if (index > -1) {
            self.filterParameters.filter_regions.splice(index, 1);
            self.removeSelectedFilter(region.id, region.name,0, false, true);
          } else {
            self.filterParameters.filter_regions.push(region.id);
            self.addSelectedFilter(group.id, region.id, region.name, true);
          }
        }
      });

      if (group.regions.length === 0) {
        let index = self.filterParameters.filter_regions.indexOf(group.id);
        if (index > -1) {
          self.filterParameters.filter_regions.splice(index, 1);
          self.removeSelectedFilter(group.id, group.name, 0,false, true);
        } else {
          self.filterParameters.filter_regions.push(group.id);
          self.addSelectedFilter(group.id, group.id, group.name, true);
        }
      }

      this.filterParameters.filters["regions"] = this.filterParameters.filter_regions;

      self.filterChanged();
    },

    changeRegion(region, selected, region_group, changeMethod = true) {
      this.filterParameters.current_page = 1;

      if (!this.filterParameters.filter_regions) {
        this.filterParameters.filter_regions = []
      }

      if (region.selected) {
        let index = this.filterParameters.filter_regions.indexOf(region.id);
        if (index > -1) {
          this.filterParameters.filter_regions.splice(index, 1);
          this.removeSelectedFilter(region.id, region.name);
        }
      } else {
        this.filterParameters.filter_regions.push(region.id);
        this.addSelectedFilter(region_group.id, region.id, region.name, true);
      }

      this.filterParameters.filters["regions"] = this.filterParameters.filter_regions;

      if (changeMethod) {
        this.filterChanged();
      }

      region.selected = !selected;

      let totalRegions = region_group.regions.length;
      let selectedRegions = region_group.regions.filter(r => r.selected === true).length;

      region_group.indeterminate = totalRegions > selectedRegions;

      if (selectedRegions) {
        region_group.active = true;
        region_group.click_region_group = false;
      } else {
        region_group.active = false;
        region_group.click_region_group = true;
      }
    },

    changePage(page) {
      this.$store.commit('SET_OBJECTS_PAGE', page);

      this.filterChanged();
    },

    changeSort(sort) {
      this.$store.commit('SET_SORTING', sort);

      $('.sort-by').find('details').prop('open', false);
      $('.sort-by-mobile').find('details').prop('open', false);

      this.$store.state.changedSort = true;
      this.filterChanged(true);
    },

    filterChanged(force_update = false, $state = false) {
      let payload = {
        'url': this.category_objects_url,
        'state': $state
      }

      if(!this.is_mobile || force_update) {
        this.$store.dispatch('getCategoryObjects', payload);
      }

      /*if(this.is_mobile && force_update){
        this.$store.dispatch('getCategoryObjectsFull', payload);
      }*/

      this.saveSelectedFilters()
    },

    btnFilter() {
      let payload = {
        'url': this.category_objects_url
      }
      this.$store.dispatch('getCategoryObjects', payload);

      this.closeFromFilter();
    },

    closeFromFilter() {
      $('.close-for-mobile').find('img').trigger('click');
    },

    resetFilters() {
      window.history.pushState("", "", window.location.pathname);
      window.location.search = '';
    },

    addSelectedFilter(param_id, id, name, is_region = false){
      let name_format = name;

      if(param_id === 2 && !is_region){
        name_format += ` ${this.trans('vue.rooms_quantity2')}`;
      }
      if(id.toString().includes('from_')){
        name_format = `${this.trans('vue.from')} ${name} m<sup>2</sup>`;
      }
      if(id.toString().includes('to_')){
        name_format = `${this.trans('vue.to')} ${name} m<sup>2</sup>`;
      }
      if(param_id === 0 && id === 'price_from'){
        name_format = `${this.trans('vue.from')} ${name} €`;
      }
      if(param_id === 0 && id === 'price_to'){
        name_format = `${this.trans('vue.to')} ${name} €`;
      }

      this.selected_filters.push({'param_id': param_id, 'id': id, 'name': name, 'name_format': name_format});
    },

    removeSelectedFilter(id, name, index = 0, force_delete = false, delete_region_group = false){
      this.$store.state.deletedFilter = true;

      let index_name = this.selected_filters.findIndex(s => s.id === id && s.name === name);

      if(index_name !== -1) {
        this.selected_filters.splice(index_name, 1);
      }

      //регионы
      if(this.filterParameters.filter_regions) {
        let index_regions = this.filterParameters.filter_regions.findIndex(s => s === id);
        if (index_regions !== -1) {
          this.filterParameters.filter_regions.splice(index_regions, 1);

          this.filterParameters.regions.forEach(function (regionGroup, index) {
            if(id === 7 && regionGroup.id === 7){
              regionGroup.active = false;
            }

            let region = regionGroup.regions.filter(r => r.id === id && r.name === name);
            if (region.length === 1) {
              region[0].selected = false;

              //сколько осталось выбранных о родителя
              let regionsSelected = regionGroup.regions.filter(r => r.selected === true).length;
              if (regionsSelected === 0) {
                regionGroup.indeterminate = false;
                regionGroup.active = false;
              }
            }
          });
        }
      }

      //параметры
      if(this.filterParameters.filter_params) {
        let index_params = this.filterParameters.filter_params.findIndex(p => p === id);
        if (index_params !== -1) {
          this.filterParameters.filter_params.splice(index_params, 1);

          this.filterParameters.params.forEach(function (param, index) {
            if(Object.entries(param.values).length) {
              let value = Object.values(param.values).filter(function (p2) {
                return p2.id === id && p2.value === name;
              });
              if (value.length === 1) {
                value[0].selected = false;
              }
            }
          });
        }
      }

      //площадь
      if(id.toString().includes('from_') || id.toString().includes('to_')){
        index_name = this.selected_filters.findIndex(s => s.id === id);

        if(index_name !== -1){
          this.selected_filters.splice(index_name, 1);
        }

        if(force_delete) {
          let id_parsed = id.split('_')[1];
          let param = this.filterParameters.params.filter(p => p.id == id_parsed);

          if(id.toString().includes('from_')){
            this.filterParameters.filter_intervals[0][id_parsed][0] = '';
            param[0].from = '';
          }
          if(id.toString().includes('to_')){
            this.filterParameters.filter_intervals[0][id_parsed][1] = '';
            param[0].to = '';
          }
        }
      }

      //цена
      if(id.toString().includes('price_from') || id.toString().includes('price_to')){
        index_name = this.selected_filters.findIndex(s => s.id === id);

        if(index_name !== -1){
          this.selected_filters.splice(index_name, 1);
        }

        if(force_delete) {
          if (id.toString().includes('price_from')) {
            this.filterParameters.filters.price[0] = '';
            this.filterParameters.price.from = '';
          }
          if (id.toString().includes('price_to')) {
            this.filterParameters.filters.price[1] = '';
            this.filterParameters.price.to = '';
          }
        }
      }

      if(!delete_region_group) {
        this.filterChanged(true);
      }
    }
  }
}
</script>

<style scoped>

</style>
